// ==========================================================

// Johnny Rocket Creative

// ==========================================================

/* 1200 =================================================== */

.content-width { max-width : 1200px; }


header.main,
header[role="main"] {
  .main-nav {
    ul {
      li {
        margin: 0 1.2em;
        
        a {
          @include font-size(.95);
        }
      }
    }
  }
}

.hero {
  .slide {
    min-height: 26em;
    
    .caption {
      p {
        padding: 0 20%;
      }
    }
  }
}


.teasers {
  .recent-work {
    summary {
      h1 {
        padding-top: 10%;
      }
    }
  }
}

footer.main {
  
  .twitter,
  .sign-up,
  .apod {
    width: 28%;
    float: left;
  }
  
  .twitter {
    border-bottom: none;
  }
}