// ==========================================================

// Johnny Rocket Creative

// ==========================================================


.logo {
  &:before {
    background-image: url(../img/jrc-icon-2x.png);
    background-size: 41px 42px;
  }
  
  h1 {
    background-image: url(../img/jrc-logo-text-2x.png);
    background-size: 228px 16px;
  }
  
  &.white {
    h1 {
      background-image: url(../img/jrc-logo-text-white-2x.png);
      background-size: 228px 16px;
    }
    
    &:before {
      background-image: url(../img/jrc-icon-white-2x.png);
      background-size: 41px 42px;
    }
  }
}


