// ==========================================================

// Johnny Rocket Creative

// ==========================================================

/* 480 and under ========================================= */


.content .main-content {
  img, figure {
    float: none !important;
  }
}