// ==========================================================

// Johnny Rocket Creative

// ==========================================================

/* 480 =================================================== */


.hero {
  .slides_nav {
    &.prev,
    &.next {
      top: 50%;
      margin-top: -25px;
    }
  }
}

.main-content {
  .profile {
    .bio {
      float: left;
      width: 100%;
      margin-bottom: 1.5em;
      
      img {
        max-width: 180px;
        float: left;
        margin-right: 1.5em;
        margin-left: 0;
      }
    }
  }
}

.content {
  aside {
    clear: both;
  }
  
  .main-content {
    figure {
      margin-left: 1.5em;
      margin-bottom: 1em;
    }
    
    .feature-link {
      img {
        display: inline-block;
        margin: 0 0 1em 1em;
      }
    }
  }
}