// ==========================================================

// Johnny Rocket Creative

// ==========================================================

/* 600 =================================================== */


.mobile-only {
  display: none;
}

.more {
  display: inline-block;
}

header.main,
header[role="main"] {
  background: $white;
  padding: 1em 0;
  text-align: center;
  
  .main-nav {
    display: block !important;
    padding-top: 1em;
    margin-top: 1em;
    border-top: 1px solid $bordercolor;
    
    ul {
      float: none;
      width: 100%;
      text-align: center;
      padding-bottom: 0;
      margin-top: 0;
      
      li {
        display: inline-block;
        width: auto;
        float: none;
        margin: 0 .5em;
        
        a {
          display: block;
          background: transparent;
          padding: 0;
          border: none;
          @include transition(.2s all);
          
          &:hover {
            background: none;
            color: $tertiary;
          }
        }
      }
    }
  }
}

.hero {
  
  .slide {
    h2 {
      @include font-size(2.3);
    }
  }
}

  summary {
    .button, .more {
      margin-right: 2em;
    }
    
    .more {
      margin-top: .4em;
    }
  }

.teasers {
  .mission-log {
    margin-bottom: 2em;
  }
  
  .services,
  .shop {
    width: 50%;
    float: left;
  }
  
  .services {
    padding-right: 5%;
    margin-bottom: 1em;
    
    ul {
      
      li {
        margin: .5em 0;
      
        a {
          
        }
      }
    }
  }
  
  .shop {
    float: right;
    padding-left: 5%;
  }
}

.content {
  header {
    h1 {
      @include font-size(5);
      line-height: 1em;
    }
    
    p {
      @include font-size(1);
    }
  }
  
  .main-content {
    img {
      float: right;
      margin: 0 0 1em 1em;
    }
    
    .profile {
     .bio {
        img {
          margin-left: 0;
        }
      }
    }
    
    .post-meta {
      span,
      time {
        display: inline-block;
        
        &:after {
          display: inline-block;
          content: "//";
          margin: 0 .5em;
        }
      }
      
      span {
        &:last-child {
          &:after {
            display: none;
          }
        }
      }
    }
    
    .featured-entries {
      padding-bottom: 0;
      margin-bottom: 2em;
      border-bottom: 1px dotted $dotted-light-gray-border;
      
      summary {
        width: 48%;
        float: left;
        border-bottom: 0;
        margin-bottom: 0;
        
        a.button {
          margin-bottom: 1em;
        }
        
        &:nth-child(2) {
          width: 100%;
          margin-bottom: 3em;
          border-bottom: 1px dotted $dotted-light-gray-border;

          h1 {
            @include font-size(2.5);
          }
        }
        
        &:nth-child(4) {
          float: right;
        }
      }
    }
  }
  
  .recent-work {
    .intro {
      padding: 0 10%;
    }
  }
}

.work-with-us-band {
  .button {
    margin-top: 1.5em;
    @include font-size(1);
  }
}