// ==========================================================

// Johnny Rocket Creative

// ==========================================================

/* 768 =================================================== */

body {
  @include font-size(1.2);
}


.hero {
  //min-height: 34em;
  
  .slide {
    h2 {
      @include font-size(3.2);
    }
    
    p {
      padding: 0 10%;
      @include font-size(1.3);
      line-height: 1.5em;
    }
    
    img {
      width: 600px;
    }
    
    .button {
    }
  }
}

.content {
  .main-content {
    .post-meta {
      float: right;
      margin-top: .4em;
      margin-bottom: 1em;
    }
    
    .featured-entries {
      summary {
        width: 48%;
        float: left;
        ;
        
        .post-meta {
          float: left;
        }
        
        &:nth-child(2) {
          width: 100%;
          margin-bottom: 2em;
                  
          .post-meta {
            float: right;
          }
        } 
        
      }
    }
  }
  
  article.main-content {
    .post-meta {
      float: none;
    }
  }
}

.work-with-us-band {
  padding: 3em 0;
  
  h1 {
    @include font-size(2);
    display: inline-block;
  }
  
  .button {
    margin-top: 1em;
    position: relative;
    top: -.3em;
  }
}

footer.main {
  .bottom-nav {
    float: left;
    width: 100%;
    
    nav.menu {
      float: left;
      margin-bottom: 0;
    }
    
    small {
      float: right;
    }
  }

  nav.menu {
    ul {
      list-style: none;
      padding: 0;
      margin: 0;
      
      li {
        float: left; margin-right: 1em;
        
        &.home {
          display: none;
        }
        
        a {
          color: $white;
          
          &:hover {
            color: $primary;
          }
        }
      }
    }
  }
}