// ==========================================================

// Johnny Rocket Creative

// ==========================================================

/* 960 =================================================== */

.logo {
  float: left;
  text-align: left;
  
  &:before {
    float: left;
    margin-right: .7em;
    display: block;
  }
  
  h1 {
    display: block;
    margin-top: 6px;
    margin-bottom: 0;
    margin-left: 1.6em;
  }
  
  h2 {
    display: block;
    margin-left: 4.7em;
    line-height: 1em;
    margin-top: 0;
    padding-top: 4px;
  }
}


header.main,
header[role="main"] {
  background: $white;
  padding: 1em 0;
  text-align: left;
  
  .main-nav {
    display: block !important;
    float: right;
    width: auto;
    margin-top: 0;
    padding-top: .4em;
    border-top: none;
    
    ul {
      float: right;
      width: auto;
      text-align: left;
      
      li {
        float: left;
        margin: 0 1em;
        
        a {
          @include font-size(.9);
        }
      }
    }
  }
}


.hero {
  .slide {
    img {
      max-width: 600px;
    }
  }
}

.teasers .recent-work,
.content .recent-work {
  summary {
    float: left;
    width: 100%;
    padding-left: 52%;
    text-align: left;
    clear: left;
    margin-bottom: 2em;
    
    h1 {
      padding-top: 5%;
      @include font-size(2.5);
      width: auto;
    }
    
    img {
      max-width: 100%;
      margin-left: -108%;
      float: left;
    }
    
    &:nth-child(odd) {
      padding-right: 52%;
      padding-left: 0;
      
      img {
        margin: 0 -108% 0 0;
        float: right;
      }
    }
  }
}

.teasers {
  position: relative;
  
  .mission-log {
    width: 50%;
    padding: 0 1%;
    float: left;
    margin-left: 25%;
  }
  
  .services, .shop {
    width: 25%;
    border-top: 0;
    padding-top: 0;
  }
  
  .services {
    //position: absolute;
    margin-left: -75%;
    padding-right: 2.5%;
  }
  
  .shop {
    float: right;
    padding-left: 2.5%;
    margin-bottom: 1em;
  }
}


.content {
  header {
    margin-bottom: 2em;
    
    h1 {
      @include font-size(6);
      margin-bottom: 0;
    }
    
    p {
      @include font-size(1.2);
    }
  }
  
  .main-content {
    float: right;
    width: 73%;
    padding-left: 2.5%;
    margin-bottom: 2em;
  }
  
  aside {
    clear: none;
    border-top: 0;
    float: left;
    width: 25%;
    border-top: 0;
    padding-top: 0;
    padding-right: 2.5%;
    margin-bottom: 2em;
  }
}

footer.main {
  .company-info,
  .twitter,
  .sign-up,
  .apod {
    width: 30%;
    @include font-size(.95);
    margin-right: 4%;
    float: left;
  }
  
  .company-info, .apod {
    border-bottom: none;
  }
  
  .twitter, .sign-up {
    margin-top: .4em;
  }
  
  .twitter,
  .sign-up,
  .apod {
    width: 60%;
    float: right;
  }
  
  .company-info {
  }
  
  nav.menu {
    ul {
      li {
        margin-right: 1em;
        display: block;
        
        &.home {
          display: block;
        }
      }
    }
  }
}