// ==========================================================

// Project Name

// ==========================================================

/* IE Bug Fixes ========================================== */


.lt-ie8 {

}

.lt-ie9 {
  .hero {
    min-height: 20em;
  }
}
