// ==========================================================

// Johnny Rocket Creative

// ==========================================================

/* Smallest ========================================= */


html {
  font-size: 16px;
  width: 100%;
  -webkit-text-size-adjust: none;
}

body {
  @include font-size(1);
  font-family: $basefont;
  font-weight: 100;
  width: 100%;
  line-height: 1.7em;
  background: $black;

  * {
    @include transition(.2s all);
  }
}

a { 
  text-decoration: none; 
  color: $linkcolor;
  @include transition(.2s all);
  
  &:hover {
    color: $tertiary;
    
    h1, h2, h3, h4, h5, h6 {
      color: $tertiary;
    }
  }
}

.wrapper {
  background: $white;
}

.content-width {
  max-width: 95%;
  margin: 0 auto;
  
  img {
    max-width: 100%;
  }
}

.logo {
  display: block;
  text-align: center;
  
  &:before {
    background: transparent url(../img/jrc-icon.png) no-repeat center center;
    display: block;
    width: 41px;
    height: 42px;
    content: "";
    margin: 0 auto 1em;
  }
  
  h1 {
    text-align: left;
    text-indent: -9999em;
    margin: 0 auto;
    display: block;
    background: transparent url(../img/jrc-logo-text.png) no-repeat center top;
    width: 228px;
    height: 18px;
  }
  
  h2 {
    color: lighten($black, 60%);
    @include font-size(.7);
    text-transform: uppercase;
    letter-spacing: 3px;
    line-height: 1em;
    padding-top: .5em;
    display: block;
  }
  
  &.white {
    h1 {
      background-image: url(../img/jrc-logo-text-white.png);
    }
    
    &:hover {
      h2 {
        color: $white;
      }
    }
    
    &:before {
      background: transparent url(../img/jrc-icon-white.png) no-repeat center center;
    }
  }
  
  &:hover {
    h2 {
      color: $primary;
    }
  }
}


h1, h2, h3, h4, h5, h6 {
  font-family: $basefont;
  font-weight: 100;
  color: $primary;
  @include font-size(2);
  line-height: 1.3em;
  display: inline-block;
}

h1.section-title {
  font-family: $altfont;
  font-weight: 500;
  color: $sectiontitles;
  @include font-size(2.5);
  line-height: 1.5em;
}

.double-line {
  margin-top: 3em;
  border-top: 6px double $lightergrey;
  text-align: center;
  padding-top: 3em;
  
  h1.section-title {
    display: inline-block;
    margin: 0 auto;
    background: $white;
    padding: 0 .5em;
    text-align: center;
    position: absolute;
    top: -.75em;
    left: 50%;
    width: 6em;
    margin-left: -3em;
  }
}

fieldset {
  display: block;
  border: none;
  width: 100%;
  margin: 1em 0;
  
  label {
    display: block;
    width: 100%;
    font-weight: 700;
    text-transform: uppercase;
    @include font-size(.85);
    line-height: 1.2em;
    margin-bottom: .5em;
  }
  
  input[type="text"],
  input[type="tel"],
  input[type="email"],
  textarea {
    width: 100%;
    display: block;
    margin-bottom: 1em;
    font-family: $basefont;
    background: $inputbkg;
    border: 1px solid $inputborder;
    @include font-size(1);
    padding: .6em 1em;
    color: $inputfontcolor;
    @include rounded(3px);
    resize: none;
    
    &:hover {
      border: 1px solid $inputborderhover;
    }
    
    &:focus {
      outline: none;
      background: $white;
      color: $inputtextfocus;
    }
  }
  
  input[type="checkbox"] {
    float: left;
    margin-right: 1em;
    position: relative;
    margin-bottom: 2.5em;
  }
  
  label.checkbox {
    margin-bottom: 1em;
  }
  
  textarea {
    min-height: 10em;
  }
  
  button,
  .button {
    clear: both;
    float: left;
  }
}

.button, 
button {
  @include rounded(3px);
  border: none;
  display: inline-block;
  padding: .7em 1.5em;
  background: $primary;
  color: $white;
  font-weight: 700;
  text-transform: uppercase;
  line-height: 1.2em;
  margin: 0;
  @include font-size(.9);
  @include box-shadow(0 0 2px rgba(0,0,0,.2));
  @include text-shadow(0 1px 0 rgba(0,0,0,.3));
  cursor: hand;
  cursor: pointer;
  
  &:hover {
    background: $tertiary;
    color: $white;
  }
  
  &.alt {
    background: $secondary;

    &:hover {
      background: lighten($secondary, 10%);
    }
  }
  
  &.large {
    padding: .9em 1.7em .9em;
    @include font-size(1);
    font-size: 600;
    @include box-shadow(0 0 2px rgba(0,0,0,.4));
  }
  
  &.disabled {
    background: $disabled-button-bkg;
  }
}

.more {
  font-weight: 700;
  text-transform: uppercase;
  @include font-size(.9);
  display: inline-block;
  width: auto;
  margin: 1em auto;
  display: block;
}

.shop,
.mission-log {
  summary,
  article {
    img {
      border: 1px solid $imgborder;
      padding: 5px;
      background: $imgbkg;
    }
    
    a {
      img {
        &:hover {
          border-color: darken($imgborder, 20%);
          background: $white;
        }
      }
    }
  }
}

.menu-link {
  margin: 1em auto 0;
  display: block;
  text-transform: uppercase;
  font-weight: 500;
  
  &:before {
    display: inline-block;
    content: "\f0c9";
    font-family: 'FontAwesome';
    position: relative;
    top: 1px;
    margin-right: .5em;
  }
}


header.main,
header[role="main"] {
  background: $white;
  padding: 1em 0;
  text-align: center;
  
  .main-nav {
    display: none;
    @include transition(none);
    
    ul {
      list-style: none;
      float: left;
      width: 100%;
      margin-top: 1em;
      padding-bottom: 0;
      
      li {
        display: block;
        width: 50%;
        float: left;
        
        a {
          display: block;
          background: darken($white, 5%);
          padding: .5em 0;
          border: 1px solid $white;
          text-transform: uppercase;
          font-weight: 700;
          @include font-size(.8);
          
          &:hover {
            background: $primary;
            color: $white;
          }
          
          &.on {
            color: lighten($textcolor,10%);
          }
        }
      }
    }
  }
}

.hero {
  .slide {
    @include transition(none);
  }
}

.hero, .content header {
  clear: both;
  background: $sliderbkg url('../img/bkgd-starglow.jpg') repeat-x center top;
  background-size: auto 100%;
  position: relative;
  width: 100%;
  text-align: center;
  padding-bottom: 4em;
  min-height: 29em;
  
  h1, h2, a, p {
    color: $tertiary;
  }
  
  .button {
    color: $white;
  }
  
  .slide {
    width: 80%;
    margin: 0 10%;
    
    img {
      max-width: 100%;
      width: auto !important;
      display: block;
      margin: 0 auto;
      float: none !important;
    }
    
    h2 {
      @include font-size(1.5);
      line-height: 1.2em;
      
      a {
        color: $tertiary;
      }
    }
    
    p {
      margin: 1em 0;
      a {
        color: $tertiary;
      }
    }
    
    img {
      max-width: 95%;
      margin-top: 1em;
    }
    
    .button {
      &:hover {
        background: $tertiary;
      }
    }
  }
  
  .slides_nav {
    &.prev,
    &.next {
      position: absolute;
      top: 5%;
      width: 50px;
      height: 50px;
      background: $white url('../img/slider-arrows.png') no-repeat left center;
      @include box-shadow(0 0 3px $tertiary-drop-shadow);
      text-indent: -9999em;
      overflow: hidden;
      
      &:hover {
        width: 70px;
      }
    }
    
    &.prev {
      left: 0;
      
      &:hover {
        background-position: 10px center;
      }
    }
    
    &.next {
      right: 0;
      background-position: -50px center;
      
      &:hover {
        background-position: -40px center;
      }
    }
  }
  
  .slides_tabs {
    text-align: center;
    background: $transparentblue;
    display: block;
    padding: .5em 0;
    position: absolute;
    bottom: 0;
    width: 100%;
    list-style: none;
    
    li {
      display: inline-block;
      margin: 0 .2em;
      
      a {
        display: inline-block;
        background: $white;
        text-indent: -9999em;
        overflow: hidden;
        width: 10px;
        height: 10px;
        border-radius: 10px;
        
        &:hover {
          background: $tertiary;
        }
      }
      
      &.slides_here {
        a {  @include box-shadow(0 0 0 3px rgba(255,255,255,.7));
          background: $tertiary;
        }
      }
    }
  }
  
  &:before {
    content: "";
    display: block;
    height: 10px;
    width: 100%;
    position: absolute;
    top: 0;
    background: $transparentblue;
  }
}

.teasers,
.content {
  .recent-work,
  .introduction {
    position: relative;
    padding-bottom: 1em;
    border-bottom: 6px double $lightergrey;
    margin-bottom: 1em;
    text-align: center;
    
    summary {
      text-align: center;
      display: block;
      max-width: 100%;
      
      ul.categories {
        display: block;
        padding: .5em 0;
        
        li {
          display: inline-block;
          border: 1px solid $lightergrey;
          padding: .7em 1em;
          margin-right: .5em;
          @include rounded(5px);
          text-transform: uppercase;
          color: lighten($textcolor, 10%);
          @include font-size(.8);
          line-height: 1.5em;
        }
      }
      
      img {
        max-width: 100%;
      }
      
      h1 {
        width: 100%;
      }
      
      p {
        margin-bottom: 1em;
      }
      
      .button {
        margin-bottom: .7em;
      }
    }
  }
  
  .introduction {
    border-bottom: none;
    
    p {
      padding: 0 10%;
    }
  }
  
  .mission-log {
    summary {
      p {
        margin-bottom: 1em;
      }
    }
  }
  
  .services {
    border-top: 6px double $lightergrey;
    padding-top: 1em;
    
    ul {
      list-style: none;
      
      margin: 1em 0;
      border-top: 1px dotted $dotted-light-gray-border;
      padding: 1em 0;
      border-bottom: 1px dotted $dotted-light-gray-border;
    }
  }
}

.shop {
  border-top: 6px double $lightergrey;
  padding-top: 1em;
  
  summary {
    display: block;
    border-top: 1px dotted $dotted-light-gray-border;
    border-bottom: 1px dotted $dotted-light-gray-border;
    margin: .7em 0;
    padding: 1em 0;
    @include font-size(1);
    
    h1 {
      @include font-size(1);
      text-transform: none;
      font-family: $basefont;
    }
    
    img {
      width: 100%;
      margin-bottom: .5em;
      display: block;
    }
    
    .more {
      margin: 0;
    }
    
    p {
      margin-bottom: .5em;
    }
  }
}

.content {
  header {
    height: auto;
    min-height: 0;
    padding-top: 1.5em;
    padding-bottom: 1.5em;
    background-size: auto auto;
    background-position: center center;
    color: $tertiary;
    margin-bottom: 1em;
    
    h1 {
      @include font-size(3);
      display: inline-block;
      margin: 0 0 .1em 0;
      padding: 0;
      text-transform: uppercase;
      font-family: $altfont;
      line-height: 1em;
    }
    
    p {
      font-style: italic;
      padding: 0;
      line-height: .8em;
      @include font-size(.9);
      font-weight: 100;
    }
    
    &:after {
      content: "";
      display: block;
      height: 10px;
      width: 100%;
      position: absolute;
      top: auto;
      bottom: 0;
      background: $transparentblue;
    }
  }
  
  p {
    &.intro {
      color: $contentintrocolor;
    }
  }
  
  .main-content {
    margin-bottom: 2em;
    
    h1, h2, h3, h4, h5, h6 {
      margin-top: 0;
      display: block;
    }
    
    h1 { @include font-size(2.7); line-height: 1.4em;}
    h1.section-title { @include font-size(2.2); }
    h2 { @include font-size(2.2); color: $primary; line-height: 1.5em; }
    h3 { @include font-size(1.8); font-weight: 300; line-height: 1.5em; }
    h4, h5, h6 { @include font-size(1.6); font-weight: 500; color: $black; line-height: 1.5em; }
    h4 { color: $black; line-height: 1.5em; }
    h5 { @include font-size(1.3); font-weight: 700; color: $black; line-height: 1.5em; }
    h6 { @include font-size(1); font-weight: 700; text-transform: uppercase; color: lighten($textcolor,10%); line-height: 1.5em; }
    
    p {
      margin: 0 0 1em;
    }
    
    p, li {
      a {
        border-bottom: 1px dotted $white;
        
        &:hover {
          border-bottom-color: $tertiary;
        }
      }
    }
    
    code {
      background: $accentbkg;
      display: block;
      padding: .5em 1em;
      @include font-size(.95);
      line-height: 1.5em;
      color: lighten($textcolor, 5%);
    }
    
    blockquote {
      padding: 0 0 0 1.5em;
      margin: 0 0 1em;
      border-left: 1px dotted $dotted-light-gray-border;
      color: lighten($textcolor,20%);
      font-style: italic;
    }
    
    img, figure {
      max-width: 100%;
      
      &.border {
        border: 1px solid lighten($imgborder, 10%);
        padding: 5px;
        background: $white;
      }
    }
    
    figure {
      display: block;
      border: 1px solid $imgborder;
      padding: 5px;
      background: $imgbkg;
      //float: right;
      @include font-size(.8);
      text-align: center;
      
      img {
        margin: 0 0 .2em 0;
      }
    }
    
    ol, ul {
      margin-left: 1.3em;
      margin-bottom: 1em;
      
    }
    
    .dk_container {
      ul {
         margin-left: 0;
         margin-bottom: 0;
      }
    }
    
    hr {
      display: block;
      width: 100%;
      border: 0;
      height: 0;
      border-bottom: 1px solid $bordercolor;
      margin: 2em 0;
    }
    
    small {
      @include font-size(.8);
      color: lighten($textcolor,20%);
    }
    
    .profile {
      .bio {
        margin: 1em 0;
        
        h2 {
          @include font-size(1.5); 
          margin-bottom: 0;
        }
        
        img {
          margin-left: 0;
        }
        
        em {
          display: block;
          @include font-size(.9);
          text-transform: uppercase;
          font-style: normal;
          color: lighten($textcolor, 10%);
          margin: .7em 0;
          line-height: 1em;
        }
      }
    }
    
    .post-meta {
      color: lighten($black, 60%);
      @include font-size(.9);
      text-transform: uppercase;
      margin: 1em 0;
      
      span,
      time {
        display: block;
        margin: 0;
        line-height: 1.6em;
      }
    }
    
    .featured-entries {
      float: left;
      width: 100%;
      
      summary {
        border-bottom: 1px dotted $dotted-light-gray-border;
        padding-bottom: 1em;
        margin-bottom: 2em;
      }
      
    }
    
    .featured-entries,
    .more-entries {
      h1.section-title {
        margin-bottom: .5em;
      }
      
      summary {
        width: 100%;
        display: block;
        
        h1 {
          @include font-size(1.8);
          display: block;
          width: 100%;
        }
      }
    }
    
    .entry-listing,
    .more-entries {
      summary {
        padding-bottom: 1em;
        margin-bottom: 2em;
        border-bottom: 1px dotted $dotted-light-gray-border;
        p {
          margin-bottom: .5em;
        }
        
        .post-meta {
          margin: 0 0 .5em;
        }
      }
    }
    
    .feature-link {
      margin: 2em 0;
      padding: 2em;
      background: darken($white, 5%);
      border: 1px solid $bordercolor;
      
      h1 {
        @include font-size(2);
        line-height: 1em;
        margin-top: 0;
        margin-bottom: .5em;
      }
      
      img {
        display: none;
        max-width: 30%;
        background: $white;
        float: right;
      }
    }
    
    .feature-link,
    .comments {
      //border-top: 1px dotted $dotted-light-gray-border;
      //padding-top: 2em;
      margin-top: 2em;
    }
    
    .comments {
      clear: both;
    }
    
    nav.pagination {
      display: block;
      width: 100%;
      font-weight: 700;
      @include font-size(.9);
      text-transform: uppercase;
      position: relative;
      padding-bottom: 1em;
      height: 3em;
      margin-bottom: 2em;
      clear: both;
      
      a {
        
        
        &:hover {
        }
      }
      
      .prev, .next {
        position: absolute;
        display: block;
        top: 0;
      }
      
      .prev {
        left: 0;
      }
      
      .next {
        right: 0;
      }
      
      ol {
        list-style: none;
        margin: 0 auto;
        text-align: center;
        
        li {
          display: inline-block;
          margin: 0 .5em;
          
          a.current {
            color: lighten($black, 60%);
          }
        }
      }
    }
  }
  
  aside {
    border-top: 6px double $lightergrey;
    padding-top: 2em;
    
    h1, h2, h3, h4, h5, h6 {
      display: block;
      text-transform: uppercase;
      font-weight: 600;
    }
    
    h1 {
      @include font-size(2.2);
      font-family: $altfont;
      color: $textcolor;
      font-weight: 100;
    }
    
    h2 {
      @include font-size(1.1);
    }
    
    h3 {
      @include font-size(1);
      font-weight: 700;
      text-transform: uppercase;
      color: $textcolor;
    }
    
    p, section {
      margin-bottom: 1em;
    }
    
    ol, ul {
      list-style: none;
      margin: .7em 0 2em;
      padding: .7em 0;
      border-top: 1px dotted $bordercolor;
      border-bottom: 1px dotted $bordercolor;
      
      li {
        margin: .3em 0;
        
        a {
          position: relative;
          
          &:hover {
            position: relative;
            left: .4em;
          }
          
          &.on {
            color: lighten($textcolor,20%);
          }
        }
      }
    }
    
    address {
      font-weight: 100;
      font-style: normal;
    }
    
    .map_centerville {
      height: 200px;
      width: 100%;
      background: $imgbkg;
    }
    
    .subscribe {
      margin-bottom: 3em;
      
      h1 {
        color: $footer-signup-color;
      }
      
      fieldset {
        border-bottom: 1px dotted $dotted-light-gray-border;
        padding-bottom: 1em;
        margin-bottom: 1em;
      }
      
      button {
        @include font-size(.95);
        padding: .8em 1.2em;
        background: $footer-signup-color;
        
        &:hover {
          background: $tertiary;
        }
      }
      
      .rss {
        font-weight: 700;
        text-transform: uppercase;
        @include font-size(.9);
        
        a {
          display: inline-block;
          padding-right: 1.7em;
          background: transparent url(../img/rss-icon.png) no-repeat right center;
          color: $primary;
          
          &:hover {
            color: $secondary;
            background-image: url(../img/rss-icon-hover.png);
          }
        }
      }
    }
    
    .shop {
      border-top: 0;
      
      summary {
        img {
          width: auto;
          max-width: 100%;
        }
      }
    }
    
    summary {
      h1 {
        @include font-size(1.2);
        text-transform: none;
        font-family: $basefont;
      }
    }
  }
}


.work-with-us-band {
  clear: both;
  margin: 1em 0 0;
  padding: 1.1em 0;
  text-align: center;
  background: $white url(../img/bkgd-main.png) repeat center top;
  @include box-shadow(inset 0 0 8px $lightgrey);
  color: $tertiary;
  
  h1 {
    color: $tertiary;
    @include font-size(1.5);
  }
  
  .button {
    margin: 2em 2em 0 2em;
    @include font-size(.8);
    padding: .8em 2em .9em;
    position: relative;
    top: -.5em;
    line-height: 1.1em;
  }
}

footer {
  clear: both;
  background: $footerbkg;
  margin-bottom: 0;
  padding-top: 1em;
  float: left;
  width: 100%;
  
  a {
    &:hover {
      border-bottom: none;
    }
  }
  
  .company-info {
    color: $footer-company-info-text;

    a.logo {
      border-bottom: none;
      margin: 1em 0;
      
      &:hover {
        border-bottom: none;
        color: inherit;
        
        h2 {
          color: inherit;
        }
      }
    }
    
    address,
    .phone,
    .email {
      font-style: normal;
      position: relative;
      margin-left: 3.6em;
      color: $footer-company-info-text;
      margin-bottom: 1.3em;
      line-height: 1.2em;
      
      a {
        color: $footer-company-info-text;
      }
      
      &:before {
        content: "A.";
        display: block;
        position: absolute;
        left: -1.5em;
        top: 0;
        color: $footer-company-info-pre-letter;
      }
    }
    
    address {
      clear: both;
    }
    
    .phone {
      &:before {
        content: "P.";
      }
    }
    
    .email {
      &:before {
        content: "E.";
      }
    }
    
    .social-connections {
      display: block;
      padding-left: 2em;
      padding-top: 1em;
      margin-bottom: 2em;
      
      li {
        display: block;
        float: left;
        margin: 0 1em 0 0;
        
        a {
          display: block;
          width: 25px;
          height: 25px;
          background: transparent url(../img/social-icons-sm.png) no-repeat left top;
          border-bottom: none;
          overflow: hidden;
          padding: 0;
          position: relative;
          

          &:before {
            content: "";
            display: block;
            width: 25px;
            height: 25px;
            opacity: 0;
            background: transparent url(../img/social-icons-sm-color.png) no-repeat left top;
            border-bottom: none;
            text-indent: -9999em;
            
          }

          &:hover {
            border-bottom: none;
            background: none;
            
            &:before {
              opacity: 1;
              border-bottom: none;
            }
          }
          
          &.twitter {
            margin-top: 0;
          }
          
          &.facebook {
            background-position: -32px top;
            
            &:before {
              background-position: -32px top;
            }
          }
          
          &.dribbble {
            background-position: -66px top;
            
            &:before {
              background-position: -66px top;
            }
          }
          
          &.forrst {
            background-position: -100px top;
            
            &:before {
              background-position: -100px top;
            }
          }
          
          &.google {
            background-position: -132px top;
            
            &:before {
              background-position: -132px top;
            }
          }
          
          &.linkedin {
            background-position: -165px top;
            
            &:before {
              background-position: -165px top;
            }
          }
        }
      }
    }
  }
  
  .company-info,
  .twitter,
  .sign-up,
  .apod {
    @include font-size(.95);
    margin-bottom: 2em;
    line-height: 1.6em;    
    padding-bottom: 1em;
    border-bottom: 1px dotted $dotted-dark-gray-border;
    width: 100%;
    
    h3 {
      @include font-size(1.9);
      font-weight: 100;
      margin-bottom: .1em;
      font-family: $altfont;
    }
    
    p {
      color: $white;
    }

    a,
    .more {
      border-bottom: 1px dotted $footerbkg;
      
      &:hover {
        color: $white;
        border-bottom: 1px dotted $white;
      }
    }
  }
  
  .twitter {  
    color: $white;
    
    h3, a {
      color: $footer-twitter-color;
    }
    
    .date {
      color: $footer-twitter-date-color;
      display: block;
      margin: .2em 0 1em;
      padding-bottom: 1em;
      border-bottom: 1px dotted $dotted-dark-gray-border;
    }
  }
  
  .sign-up {
    width: 100%;
    display: block;
    padding-bottom: 1.5em;
    margin-bottom: 2em;
    border-bottom: 1px dotted $dotted-dark-gray-border;
    
    p {
      margin-bottom: 1em;
    }
    
    input {
      border: none;
      @include rounded(3px);
      @include font-size(.9);
      padding: 1em 1.3em;
      width: 65%;
      height: 3em;
      float: left;
      margin-right: 2%;
      margin-bottom: .5em;
      
      &:focus {
        outline: none;
        border: none;
      }
    }
    
    button {
      @include font-size(.9);
      height: 3em;
      background: $footer-signup-color;
      float: left;
      width: 29%;
      min-width: 7em;
      
      &:hover {
        @include vertical(lighten($footer-signup-color, 5%), darken($footer-signup-color, 5%));
      }
    }
    
    h3, a {
      color: $footer-signup-color;
    }
  }
  
  .apod {
    h3, a {
      color: $footer-apod-color;
    }
    
    article {
      margin: 1em 0;
      padding-bottom: 1em;
      @include font-size(1);
      border-bottom: 1px dotted $dotted-dark-gray-border;
    }
  }
  
  .sign-up,
  .apod {
    float: right;
  }
  
  .bottom-nav {
    display: block;
    width: 100%;
    clear: both;
    background: $black;
    padding: 1.2em 0 1em;
    @include font-size(.9);
    color: $white;
    
    small {
      display: block;
      text-align: left;
      font-style: normal;
    }
  }
  
  nav.menu {
    margin-bottom: 2em;
    ul {
      list-style: none;
      padding: 0;
      margin: 0;
      
      li {
        a {
          color: $white;
          
          &:hover {
            color: $primary;
          }
        }
      }
    }
  }
}


.landing-page .teasers,
.content {
  .recent-work,
  .introduction {
    padding-bottom: 1em;
    border-bottom: none;
  }
}

.content {
  .recent-work {
    summary {
      padding: 2em 0 0;
      border-top: 1px dotted $bordercolor;
      margin: 2em 0 0;
      clear: both;
    }
  }
}