// ==========================================================

// Johnny Rocket Creative

// ==========================================================

/* Variables =================================================== */

// greyscale

$black 			: rgb(0,0,0);
$darkgrey 		: lighten($black, 25%);
$grey 			: lighten($black, 50%);
$lightgrey 		: lighten($black, 75%);
$lightergrey 	: lighten($black, 90%);
$white 			: rgb(255,255,255);

$bodycolor : #f8f8f8;
$textcolor : #464646;

$primary: #bd0f05;  // red
$secondary: #32cfd9;  // green
$tertiary: #0c466d; // dark blue
$quaternary: rgb(45,53,62);

$sectiontitles: $textcolor;
$contentintrocolor: #959595;

$sliderbkg: #95cdc7;
$transparentblue : rgba(12,70,109,.12);
$tertiary-drop-shadow : rgba(12,70,109,.5);
$tertiary-drop-shadow-flbk : rgb(12,70,109);

$disabled-button-bkg: #d7d7d7;
$dotted-dark-gray-border: #404040;
$dotted-light-gray-border: #b2b2b2;

$bordercolor: #cccccc;

$imgborder: $bordercolor;
$imgbkg: #f0f0f0;

$accentbkg: #f1f1f1;

$inputbkg: #f1f1f1;
$inputfontcolor: lighten($black, 30%);
$inputborder: darken($inputbkg, 5%);
$inputborderhover: darken($inputbkg, 20%);
$inputtextfocus: lighten($black, 10%);

$footerbkg: #252525;
$footer-company-info-text: #959595;
$footer-company-info-pre-letter: #636363;
$footer-twitter-color: #c2df20;
$footer-twitter-date-color: #959595;
$footer-signup-color: #318bd7;
$footer-apod-color: #825ea7;

// fonts

$basefont : "Open Sans", Arial, sans-serif;
$basefontsize : 16;
$baselineheight : 1.5em;
$baseheadingfont : inherit;
$baseheadingfontweight : bold;
$baseheadingfontcolor : inherit;

$altfont : 'BebasNeueRegular', Arial, sans-serif;
$altlineheight : 1.35em;

$codefont : Monaco, Courier New, monospace;

// Links

$linkcolor 		    : $primary;
$linkcolorhover 	: lighten($linkcolor, 8%);
$linkcolorvisited   : darken($linkcolorhover, 10);
$linkcolorfocus 	: darken($linkcolorvisited, 10);
