// ==========================================================

// Project Name

// ==========================================================


@import "reset";
@import "fonts";
@import "variables";
@import "mixins";
@import "dropkick";
@import "smallest";


@media print {
  @import "print";
}

// Below 480px
@media only screen and (max-width: 480px) {
  @import "480_and_under";
}

// 480px
@media only screen and (min-width: 480px) {
  @import "480";
}

// 600px
@media only screen and (min-width: 600px) {
  @import "600";
}

// 768px
@media only screen and (min-width: 768px) {
  @import "768";
}

// 960px
@media only screen and (min-width: 960px) {
  @import "960";
}

// 1280px
@media only screen and (min-width: 1280px) {
  @import "1200";
}


// 2x
@media
only screen and (-webkit-min-device-pixel-ratio: 1.5),
only screen and (min--moz-device-pixel-ratio: 1.5),
only screen and (min-device-pixel-ratio: 1.5) {
  @import "2x"; 
}


// For ResponsiveSlides.js
@import "responsiveslides";