  <footer role="main" class="main cleafix">
    <section class="more-content cleafix">
      <div class="content-width cleafix">
        
        <section class="company-info">
      		<a href="{path=''}" class="logo white"><h1>Johnny Rocket Creative</h1> <h2>Interactive Studio</h2></a>
      		
      		<address>
      			<a href="https://maps.google.com/maps?q=centerville+ohio&safe=active&hnear=Centerville,+Montgomery,+Ohio&gl=us&t=m&z=12" target="_blank">P.O. Box 750461<br>Centerville, Ohio 45475</a>
      		</address>
      		
      		<p class="phone">937.317.0834</p>
      		<p class="email"><a href="mailto:hello@johnnyrocketcreative.com">hello@johnnyrocketcreative.com</a></p>
      		<ul class="social-connections">
      		  <li><a class="twitter" target="_blank" href="http://twitter.com/jrocketcreative">Twitter</a></li>
      		  <li><a class="facebook" target="_blank" href="http://facebook.com/johnnyrocketcreative">Facebook</a></li>
      		  <li><a class="dribbble" target="_blank" href="http://dribbble.com/jondaiello">Dribbble</a></li>
      		  <li><a class="forrst" target="_blank" href="http://forrst.com/people/jondaiello">Forrst</a></li>
      		  <li><a class="google" target="_blank" href="https://plus.google.com/115359709842202422081">Google +</a></li>
      		  <li><a class="linkedin" target="_blank" href="http://www.linkedin.com/in/jondaiello">LinkedIn</a></li>
      		</ul>
      	</section><!-- .company-info -->
        
        <section class="twitter">
          <h3>From Twitter</h3>
          {exp:twitter:user screen_name="jrocketcreative" limit="3" target="_blank" replies="no"}
          <article class="tweet">
            {text}
            <time class="date">{created_at format="%F %d, %Y"}</time>
          </article>
          {/exp:twitter:user}
          <a href="http://twitter.com/jrocketcreative" target="_blank" class="more">More From TwItter</a>
        </section><!-- .twitter -->
        
        <section class="sign-up">
          <h3>Stay In Touch</h3>
          <p>Sign up for company updates, new projects, special offers, and articles from our blog.</p>
          <form action="http://JohnnyRocketBlog.us1.list-manage.com/subscribe/post?u=fe1bd70bcef24ee5cccce9100&amp;id=0dd0f03ce7" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" target="_blank" novalidate>
            <input type="text" id="mce-EMAIL" name="EMAIL" value="" placeholder="Email Address">
            <button class="" type="submit">Sign Up</button>
          </form>
        </section><!-- .sign-up -->
        
        <section class="apod">
          <h3>NASA's Astronomy Pic of the Day</h3>
          <p>Every day NASA's APOD posts a new image that reveals the wonders of our incredible universe. Take a peek at today's image.</p>

          {exp:ajw_feedparser 
            url="http://apod.nasa.gov/apod.rss"
            cache_refresh="30"
            limit="1"
          }
          <article>
            <a href="{link}" target="_blank">{title}</a>
          </article>
          {/exp:ajw_feedparser}
          <a href="http://apod.nasa.gov/apod/astropix.html" target="_blank" class="more">See The APOD Archive</a>
        </section><!-- .apod -->
      </div>
    </section><!-- .more-content -->
    
    
    <section class="bottom-nav">
      <div class="content-width">
        <nav name="menu" class="menu">
          <ul>
            <li class="home"><a href="{path=''}">Home</a></li>
            <li><a href="{path='discover'}">Discover</a></li>
            <li><a href="{path='projects'}">Recent Projects</a></li>
            <li><a href="{path='mission-log'}">Mission Log</a></li>
            <li><a href="{path='contact-us'}">Contact Us</a></li>
          </ul>
        </nav>
        <small>© {current_time format="%Y"} Johnny Rocket Creative, LLC.</small>
      </div>
    </section><!-- .bottom-nav -->

  </footer>
  
  {if "{segment_1}" == "contact-us"}<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyB0NH4LJUHxjG-qVZZPI0nrsYzHQiNgYio&sensor=false"></script>{/if}
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
  <script>window.jQuery || document.write('<script src="/assets/js/jquery-1.7.2.min.js"><\/script>')</script>
  
  <script src="/assets/js/plugins.js"></script>
  <script src="/assets/js/script.js"></script>
  <script src="/assets/js/helper.js"></script>
  <script type="text/javascript">
  
    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-8898641-4']);
    _gaq.push(['_setDomainName', 'johnnyrocketcreative.com']);
    _gaq.push(['_setAllowLinker', true]);
    _gaq.push(['_trackPageview']);
  
    (function() {
      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();
  
  </script>
</div><!-- .wrapper -->
</body>
</html>