  <header role="main" class="main">
    <div class="content-width">
      <a href="{path=''}" class="logo">
        <h1>Johnny Rocket Creative</h1>
        <h2>Interactive Studio</h2>
      </a>
      
      <a href="#" class="mobile-only menu-link">Menu</a>
      
      <nav role="main" class="main-nav">
        <ul>
          <li class="home"><a href="{path=''}">Home</a></li>
          <li><a href="{path='discover'}"{if "{segment_1}" == "discover"} class="on"{/if}>Discover</a></li>
          <li><a href="{path='projects'}"{if "{segment_1}" == "projects"} class="on"{/if}>Recent Projects</a></li>
          <li><a href="{path='mission-log'}"{if "{segment_1}" == "mission-log"} class="on"{/if}>Mission Log</a></li>
          <li><a href="{path='contact-us'}"{if "{segment_1}" == "contact-us"} class="on"{/if}>Contact Us</a></li>
        </ul>
      </nav>
    </div>
  </header>
      
      