  <header role="main" class="main">
    <div class="content-width">
      <a href="{path=''}" class="logo">
        <h1>Johnny Rocket Creative</h1>
        <h2>Interactive Studio</h2>
      </a>
    </div>
  </header>