@import url(http://fonts.googleapis.com/css?family=Open+Sans:400italic,400,300,700,600);
/* Reset =================================================== */
html, body, body div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, figure, footer, header, hgroup, menu, nav, section, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent; }

article, aside, figure, footer, header, hgroup, nav, section {
  display: block; }

* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

.clearfix:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0; }

/* Fonts =================================================== */
@font-face {
  font-family: 'BebasNeueRegular';
  src: url("../fonts/bebas-neue/BebasNeue-webfont.eot");
  src: url("../fonts/bebas-neue/BebasNeue-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/bebas-neue/BebasNeue-webfont.woff") format("woff"), url("../fonts/bebas-neue/BebasNeue-webfont.ttf") format("truetype"), url("../fonts/bebas-neue/BebasNeue-webfont.svg#BebasNeueRegular") format("svg");
  font-weight: normal;
  font-style: normal; }

/*  Font Awesome
    the iconic font designed for use with Twitter Bootstrap
    -------------------------------------------------------
    The full suite of pictographic icons, examples, and documentation
    can be found at: http://fortawesome.github.com/Font-Awesome/

    License
    -------------------------------------------------------
    The Font Awesome webfont, CSS, and LESS files are licensed under CC BY 3.0:
    http://creativecommons.org/licenses/by/3.0/ A mention of
    'Font Awesome - http://fortawesome.github.com/Font-Awesome' in human-readable
    source code is considered acceptable attribution (most common on the web).
    If human readable source code is not available to the end user, a mention in
    an 'About' or 'Credits' screen is considered acceptable (most common in desktop
    or mobile software).

    Contact
    -------------------------------------------------------
    Email: dave@davegandy.com
    Twitter: http://twitter.com/fortaweso_me
    Work: Lead Product Designer @ http://kyruus.com

    */
@font-face {
  font-family: 'FontAwesome';
  src: url("../fonts/FortAwesome-Font-Awesome-ee55c85/fontawesome-webfont.eot");
  src: url("../fonts/FortAwesome-Font-Awesome-ee55c85/fontawesome-webfont.eot?#iefix") format("eot"), url("../fonts/FortAwesome-Font-Awesome-ee55c85/fontawesome-webfont.woff") format("woff"), url("../fonts/FortAwesome-Font-Awesome-ee55c85/fontawesome-webfont.ttf") format("truetype"), url("../fonts/FortAwesome-Font-Awesome-ee55c85/fontawesome-webfont.svg#FontAwesome") format("svg");
  font-weight: normal;
  font-style: normal; }

/* Variables =================================================== */
/* Mixins =================================================== */
/**
 * Johnny Rocket Creative DropKick theme
 *
 * Feel free to edit the default theme
 * or even add your own.
 *
 * See the readme for themeing help
 *
 */
/***** Begin Theme, feel free to edit in here! ******/
/* One container to bind them... */
.dk_container {
  background-color: #f1f1f1;
  font-family: "Open Sans", Arial, sans-serif;
  font-weight: 500;
  line-height: 1.4em;
  margin-bottom: 1em;
  width: 100%;
  text-align: left;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px; }

.dk_container:focus {
  outline: none;
  background: #f1f1f1;
  -webkit-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.1);
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.1); }
  .dk_container:focus .dk_toggle {
    border-color: #bd0f05; }

.dk_container a {
  cursor: pointer;
  text-decoration: none;
  color: #999999; }

ul {
  margin: 0;
  padding: 0; }

.dk_label {
  padding: 0;
  display: block; }

/* Opens the dropdown and holds the menu label */
.dk_toggle {
  /**
   * Help: Arrow image not appearing
   * Try updating this property to your correct dk_arrows.png path
   */
  background-image: url("../img/select-arrow.png");
  background-repeat: no-repeat;
  background-position: right center;
  border: 1px solid #e4e4e4;
  -webkit-transition: border-color .5s;
  -moz-transition: border-color .5s;
  -o-transition: border-color .5s;
  transition: border-color .5s;
  width: 100% !important;
  padding: .6em 1em;
  color: #4d4d4d;
  font-size: 16px;
  font-size: 1rem;
  line-height: 1.4em;
  margin: 0;
  display: block;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px; }

.dk_toggle:hover {
  border-color: #f4f4f4;
  color: #bd0f05;
  border: 1px solid #cbcbcb; }

/* Applied when the dropdown is focused */
.dk_focus .dk_toggle {
  border-color: #e4e4e4; }

/* Applied whenever the dropdown is open */
.dk_open {
  /**
   * Help: Dropdown menu is covered by something
   * Try setting this value higher
   */
  z-index: 10; }

.dk_open .dk_toggle {
  background-color: #f1f1f1;
  border-color: #e4e4e4;
  color: #4d4d4d; }

/* The outer container of the options */
.dk_options {
  font-size: 19.2px;
  font-size: 1.2rem; }

.dk_options a {
  background-color: #fff;
  border-bottom: 1px solid #e4e4e4;
  display: block;
  font-family: "Open Sans", Arial, sans-serif;
  font-style: normal;
  font-size: 14.4px;
  font-size: 0.9rem;
  color: #bd0f05; }

.dk_options li:last-child a {
  border-bottom: none; }

.dk_options a:hover {
  background-color: #bd0f05;
  border-bottom-color: #e4e4e4;
  color: white;
  text-decoration: none; }

.dk_option_current a,
.dk_option_current a:hover {
  color: #bd0f05;
  font-weight: 700;
  background: #f1f1f1;
  text-decoration: none; }

/* Inner container for options, this is what makes the scrollbar possible. */
.dk_options_inner {
  border: 1px solid #e4e4e4;
  border-bottom-width: 2px;
  border-bottom-color: #e4e4e4;
  color: #4d4d4d;
  list-style: none;
  margin: 0;
  padding: 0; }
  .dk_options_inner li {
    display: block; }
    .dk_options_inner li a {
      padding: .5em .5em;
      display: block; }

/* Set a max-height on the options inner */
/******  End Theme ******/
/***** Critical to the continued enjoyment of working dropdowns ******/
.dk_container {
  display: none;
  float: left;
  position: relative; }

.dk_container a {
  outline: none; }

.dk_toggle {
  display: block;
  position: relative;
  zoom: 1; }

.dk_open {
  position: relative; }

.dk_open .dk_options {
  display: block; }

.dk_open .dk_label {
  color: inherit; }

.dk_options {
  display: none;
  margin-top: -1px;
  position: absolute;
  right: 0;
  width: 100%; }

.dk_options a,
.dk_options a:link,
.dk_options a:visited {
  display: block; }

.dk_options_inner {
  overflow: auto;
  position: relative; }

.dk_touch .dk_options {
  overflow: hidden; }

.dk_touch .dk_options_inner {
  max-height: none;
  overflow: visible; }

.dk_fouc select {
  position: relative;
  top: -99999em;
  visibility: hidden;
  display: none; }

/***** End Critical to the continued enjoyment of working dropdowns ******/
/* Smallest ========================================= */
html {
  font-size: 16px;
  width: 100%;
  -webkit-text-size-adjust: none; }

body {
  font-size: 16px;
  font-size: 1rem;
  font-family: "Open Sans", Arial, sans-serif;
  font-weight: 100;
  width: 100%;
  line-height: 1.7em;
  background: black; }
  body * {
    -webkit-transition: 0.2s all;
    -moz-transition: 0.2s all;
    -ms-transition: 0.2s all;
    -o-transition: 0.2s all;
    transition: 0.2s all; }

a {
  text-decoration: none;
  color: #bd0f05;
  -webkit-transition: 0.2s all;
  -moz-transition: 0.2s all;
  -ms-transition: 0.2s all;
  -o-transition: 0.2s all;
  transition: 0.2s all; }
  a:hover {
    color: #0c466d; }
    a:hover h1, a:hover h2, a:hover h3, a:hover h4, a:hover h5, a:hover h6 {
      color: #0c466d; }

.wrapper {
  background: white; }

.content-width {
  max-width: 95%;
  margin: 0 auto; }
  .content-width img {
    max-width: 100%; }

.logo {
  display: block;
  text-align: center; }
  .logo:before {
    background: transparent url(../img/jrc-icon.png) no-repeat center center;
    display: block;
    width: 41px;
    height: 42px;
    content: "";
    margin: 0 auto 1em; }
  .logo h1 {
    text-align: left;
    text-indent: -9999em;
    margin: 0 auto;
    display: block;
    background: transparent url(../img/jrc-logo-text.png) no-repeat center top;
    width: 228px;
    height: 18px; }
  .logo h2 {
    color: #999999;
    font-size: 11.2px;
    font-size: 0.7rem;
    text-transform: uppercase;
    letter-spacing: 3px;
    line-height: 1em;
    padding-top: .5em;
    display: block; }
  .logo.white h1 {
    background-image: url(../img/jrc-logo-text-white.png); }
  .logo.white:hover h2 {
    color: white; }
  .logo.white:before {
    background: transparent url(../img/jrc-icon-white.png) no-repeat center center; }
  .logo:hover h2 {
    color: #bd0f05; }

h1, h2, h3, h4, h5, h6 {
  font-family: "Open Sans", Arial, sans-serif;
  font-weight: 100;
  color: #bd0f05;
  font-size: 32px;
  font-size: 2rem;
  line-height: 1.3em;
  display: inline-block; }

h1.section-title {
  font-family: "BebasNeueRegular", Arial, sans-serif;
  font-weight: 500;
  color: #464646;
  font-size: 40px;
  font-size: 2.5rem;
  line-height: 1.5em; }

.double-line {
  margin-top: 3em;
  border-top: 6px double #e6e6e6;
  text-align: center;
  padding-top: 3em; }
  .double-line h1.section-title {
    display: inline-block;
    margin: 0 auto;
    background: white;
    padding: 0 .5em;
    text-align: center;
    position: absolute;
    top: -.75em;
    left: 50%;
    width: 6em;
    margin-left: -3em; }

fieldset {
  display: block;
  border: none;
  width: 100%;
  margin: 1em 0; }
  fieldset label {
    display: block;
    width: 100%;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 13.6px;
    font-size: 0.85rem;
    line-height: 1.2em;
    margin-bottom: .5em; }
  fieldset input[type="text"],
  fieldset input[type="tel"],
  fieldset input[type="email"],
  fieldset textarea {
    width: 100%;
    display: block;
    margin-bottom: 1em;
    font-family: "Open Sans", Arial, sans-serif;
    background: #f1f1f1;
    border: 1px solid #e4e4e4;
    font-size: 16px;
    font-size: 1rem;
    padding: .6em 1em;
    color: #4d4d4d;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    resize: none; }
    fieldset input[type="text"]:hover,
    fieldset input[type="tel"]:hover,
    fieldset input[type="email"]:hover,
    fieldset textarea:hover {
      border: 1px solid #bebebe; }
    fieldset input[type="text"]:focus,
    fieldset input[type="tel"]:focus,
    fieldset input[type="email"]:focus,
    fieldset textarea:focus {
      outline: none;
      background: white;
      color: #1a1a1a; }
  fieldset input[type="checkbox"] {
    float: left;
    margin-right: 1em;
    position: relative;
    margin-bottom: 2.5em; }
  fieldset label.checkbox {
    margin-bottom: 1em; }
  fieldset textarea {
    min-height: 10em; }
  fieldset button,
  fieldset .button {
    clear: both;
    float: left; }

.button,
button {
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  border: none;
  display: inline-block;
  padding: .7em 1.5em;
  background: #bd0f05;
  color: white;
  font-weight: 700;
  text-transform: uppercase;
  line-height: 1.2em;
  margin: 0;
  font-size: 14.4px;
  font-size: 0.9rem;
  -webkit-box-shadow: 0 0 2px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 0 2px rgba(0, 0, 0, 0.2);
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.2);
  -webkit-text-shadow: 0 1px 0 rgba(0, 0, 0, 0.3);
  -moz-text-shadow: 0 1px 0 rgba(0, 0, 0, 0.3);
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.3);
  cursor: hand;
  cursor: pointer; }
  .button:hover,
  button:hover {
    background: #0c466d;
    color: white; }
  .button.alt,
  button.alt {
    background: #32cfd9; }
    .button.alt:hover,
    button.alt:hover {
      background: #5dd9e1; }
  .button.large,
  button.large {
    padding: .9em 1.7em .9em;
    font-size: 16px;
    font-size: 1rem;
    font-size: 600;
    -webkit-box-shadow: 0 0 2px rgba(0, 0, 0, 0.4);
    -moz-box-shadow: 0 0 2px rgba(0, 0, 0, 0.4);
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.4); }
  .button.disabled,
  button.disabled {
    background: #d7d7d7; }

.more {
  font-weight: 700;
  text-transform: uppercase;
  font-size: 14.4px;
  font-size: 0.9rem;
  display: inline-block;
  width: auto;
  margin: 1em auto;
  display: block; }

.shop summary img,
.shop article img,
.mission-log summary img,
.mission-log article img {
  border: 1px solid #cccccc;
  padding: 5px;
  background: #f0f0f0; }
.shop summary a img:hover,
.shop article a img:hover,
.mission-log summary a img:hover,
.mission-log article a img:hover {
  border-color: #999999;
  background: white; }

.menu-link {
  margin: 1em auto 0;
  display: block;
  text-transform: uppercase;
  font-weight: 500; }
  .menu-link:before {
    display: inline-block;
    content: "\f0c9";
    font-family: 'FontAwesome';
    position: relative;
    top: 1px;
    margin-right: .5em; }

header.main,
header[role="main"] {
  background: white;
  padding: 1em 0;
  text-align: center; }
  header.main .main-nav,
  header[role="main"] .main-nav {
    display: none;
    -webkit-transition: none;
    -moz-transition: none;
    -ms-transition: none;
    -o-transition: none;
    transition: none; }
    header.main .main-nav ul,
    header[role="main"] .main-nav ul {
      list-style: none;
      float: left;
      width: 100%;
      margin-top: 1em;
      padding-bottom: 0; }
      header.main .main-nav ul li,
      header[role="main"] .main-nav ul li {
        display: block;
        width: 50%;
        float: left; }
        header.main .main-nav ul li a,
        header[role="main"] .main-nav ul li a {
          display: block;
          background: #f2f2f2;
          padding: .5em 0;
          border: 1px solid white;
          text-transform: uppercase;
          font-weight: 700;
          font-size: 12.8px;
          font-size: 0.8rem; }
          header.main .main-nav ul li a:hover,
          header[role="main"] .main-nav ul li a:hover {
            background: #bd0f05;
            color: white; }
          header.main .main-nav ul li a.on,
          header[role="main"] .main-nav ul li a.on {
            color: #606060; }

.hero .slide {
  -webkit-transition: none;
  -moz-transition: none;
  -ms-transition: none;
  -o-transition: none;
  transition: none; }

.hero, .content header {
  clear: both;
  background: #95cdc7 url("../img/bkgd-starglow.jpg") repeat-x center top;
  background-size: auto 100%;
  position: relative;
  width: 100%;
  text-align: center;
  padding-bottom: 4em;
  min-height: 29em; }
  .hero h1, .hero h2, .hero a, .hero p, .content header h1, .content header h2, .content header a, .content header p {
    color: #0c466d; }
  .hero .button, .content header .button {
    color: white; }
  .hero .slide, .content header .slide {
    width: 80%;
    margin: 0 10%; }
    .hero .slide img, .content header .slide img {
      max-width: 100%;
      width: auto !important;
      display: block;
      margin: 0 auto;
      float: none !important; }
    .hero .slide h2, .content header .slide h2 {
      font-size: 24px;
      font-size: 1.5rem;
      line-height: 1.2em; }
      .hero .slide h2 a, .content header .slide h2 a {
        color: #0c466d; }
    .hero .slide p, .content header .slide p {
      margin: 1em 0; }
      .hero .slide p a, .content header .slide p a {
        color: #0c466d; }
    .hero .slide img, .content header .slide img {
      max-width: 95%;
      margin-top: 1em; }
    .hero .slide .button:hover, .content header .slide .button:hover {
      background: #0c466d; }
  .hero .slides_nav.prev, .hero .slides_nav.next, .content header .slides_nav.prev, .content header .slides_nav.next {
    position: absolute;
    top: 5%;
    width: 50px;
    height: 50px;
    background: white url("../img/slider-arrows.png") no-repeat left center;
    -webkit-box-shadow: 0 0 3px rgba(12, 70, 109, 0.5);
    -moz-box-shadow: 0 0 3px rgba(12, 70, 109, 0.5);
    box-shadow: 0 0 3px rgba(12, 70, 109, 0.5);
    text-indent: -9999em;
    overflow: hidden; }
    .hero .slides_nav.prev:hover, .hero .slides_nav.next:hover, .content header .slides_nav.prev:hover, .content header .slides_nav.next:hover {
      width: 70px; }
  .hero .slides_nav.prev, .content header .slides_nav.prev {
    left: 0; }
    .hero .slides_nav.prev:hover, .content header .slides_nav.prev:hover {
      background-position: 10px center; }
  .hero .slides_nav.next, .content header .slides_nav.next {
    right: 0;
    background-position: -50px center; }
    .hero .slides_nav.next:hover, .content header .slides_nav.next:hover {
      background-position: -40px center; }
  .hero .slides_tabs, .content header .slides_tabs {
    text-align: center;
    background: rgba(12, 70, 109, 0.12);
    display: block;
    padding: .5em 0;
    position: absolute;
    bottom: 0;
    width: 100%;
    list-style: none; }
    .hero .slides_tabs li, .content header .slides_tabs li {
      display: inline-block;
      margin: 0 .2em; }
      .hero .slides_tabs li a, .content header .slides_tabs li a {
        display: inline-block;
        background: white;
        text-indent: -9999em;
        overflow: hidden;
        width: 10px;
        height: 10px;
        border-radius: 10px; }
        .hero .slides_tabs li a:hover, .content header .slides_tabs li a:hover {
          background: #0c466d; }
      .hero .slides_tabs li.slides_here a, .content header .slides_tabs li.slides_here a {
        -webkit-box-shadow: 0 0 0 3px rgba(255, 255, 255, 0.7);
        -moz-box-shadow: 0 0 0 3px rgba(255, 255, 255, 0.7);
        box-shadow: 0 0 0 3px rgba(255, 255, 255, 0.7);
        background: #0c466d; }
  .hero:before, .content header:before {
    content: "";
    display: block;
    height: 10px;
    width: 100%;
    position: absolute;
    top: 0;
    background: rgba(12, 70, 109, 0.12); }

.teasers .recent-work,
.teasers .introduction,
.content .recent-work,
.content .introduction {
  position: relative;
  padding-bottom: 1em;
  border-bottom: 6px double #e6e6e6;
  margin-bottom: 1em;
  text-align: center; }
  .teasers .recent-work summary,
  .teasers .introduction summary,
  .content .recent-work summary,
  .content .introduction summary {
    text-align: center;
    display: block;
    max-width: 100%; }
    .teasers .recent-work summary ul.categories,
    .teasers .introduction summary ul.categories,
    .content .recent-work summary ul.categories,
    .content .introduction summary ul.categories {
      display: block;
      padding: .5em 0; }
      .teasers .recent-work summary ul.categories li,
      .teasers .introduction summary ul.categories li,
      .content .recent-work summary ul.categories li,
      .content .introduction summary ul.categories li {
        display: inline-block;
        border: 1px solid #e6e6e6;
        padding: .7em 1em;
        margin-right: .5em;
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        border-radius: 5px;
        text-transform: uppercase;
        color: #606060;
        font-size: 12.8px;
        font-size: 0.8rem;
        line-height: 1.5em; }
    .teasers .recent-work summary img,
    .teasers .introduction summary img,
    .content .recent-work summary img,
    .content .introduction summary img {
      max-width: 100%; }
    .teasers .recent-work summary h1,
    .teasers .introduction summary h1,
    .content .recent-work summary h1,
    .content .introduction summary h1 {
      width: 100%; }
    .teasers .recent-work summary p,
    .teasers .introduction summary p,
    .content .recent-work summary p,
    .content .introduction summary p {
      margin-bottom: 1em; }
    .teasers .recent-work summary .button,
    .teasers .introduction summary .button,
    .content .recent-work summary .button,
    .content .introduction summary .button {
      margin-bottom: .7em; }
.teasers .introduction,
.content .introduction {
  border-bottom: none; }
  .teasers .introduction p,
  .content .introduction p {
    padding: 0 10%; }
.teasers .mission-log summary p,
.content .mission-log summary p {
  margin-bottom: 1em; }
.teasers .services,
.content .services {
  border-top: 6px double #e6e6e6;
  padding-top: 1em; }
  .teasers .services ul,
  .content .services ul {
    list-style: none;
    margin: 1em 0;
    border-top: 1px dotted #b2b2b2;
    padding: 1em 0;
    border-bottom: 1px dotted #b2b2b2; }

.shop {
  border-top: 6px double #e6e6e6;
  padding-top: 1em; }
  .shop summary {
    display: block;
    border-top: 1px dotted #b2b2b2;
    border-bottom: 1px dotted #b2b2b2;
    margin: .7em 0;
    padding: 1em 0;
    font-size: 16px;
    font-size: 1rem; }
    .shop summary h1 {
      font-size: 16px;
      font-size: 1rem;
      text-transform: none;
      font-family: "Open Sans", Arial, sans-serif; }
    .shop summary img {
      width: 100%;
      margin-bottom: .5em;
      display: block; }
    .shop summary .more {
      margin: 0; }
    .shop summary p {
      margin-bottom: .5em; }

.content header {
  height: auto;
  min-height: 0;
  padding-top: 1.5em;
  padding-bottom: 1.5em;
  background-size: auto auto;
  background-position: center center;
  color: #0c466d;
  margin-bottom: 1em; }
  .content header h1 {
    font-size: 48px;
    font-size: 3rem;
    display: inline-block;
    margin: 0 0 .1em 0;
    padding: 0;
    text-transform: uppercase;
    font-family: "BebasNeueRegular", Arial, sans-serif;
    line-height: 1em; }
  .content header p {
    font-style: italic;
    padding: 0;
    line-height: .8em;
    font-size: 14.4px;
    font-size: 0.9rem;
    font-weight: 100; }
  .content header:after {
    content: "";
    display: block;
    height: 10px;
    width: 100%;
    position: absolute;
    top: auto;
    bottom: 0;
    background: rgba(12, 70, 109, 0.12); }
.content p.intro {
  color: #959595; }
.content .main-content {
  margin-bottom: 2em; }
  .content .main-content h1, .content .main-content h2, .content .main-content h3, .content .main-content h4, .content .main-content h5, .content .main-content h6 {
    margin-top: 0;
    display: block; }
  .content .main-content h1 {
    font-size: 43.2px;
    font-size: 2.7rem;
    line-height: 1.4em; }
  .content .main-content h1.section-title {
    font-size: 35.2px;
    font-size: 2.2rem; }
  .content .main-content h2 {
    font-size: 35.2px;
    font-size: 2.2rem;
    color: #bd0f05;
    line-height: 1.5em; }
  .content .main-content h3 {
    font-size: 28.8px;
    font-size: 1.8rem;
    font-weight: 300;
    line-height: 1.5em; }
  .content .main-content h4, .content .main-content h5, .content .main-content h6 {
    font-size: 25.6px;
    font-size: 1.6rem;
    font-weight: 500;
    color: black;
    line-height: 1.5em; }
  .content .main-content h4 {
    color: black;
    line-height: 1.5em; }
  .content .main-content h5 {
    font-size: 20.8px;
    font-size: 1.3rem;
    font-weight: 700;
    color: black;
    line-height: 1.5em; }
  .content .main-content h6 {
    font-size: 16px;
    font-size: 1rem;
    font-weight: 700;
    text-transform: uppercase;
    color: #606060;
    line-height: 1.5em; }
  .content .main-content p {
    margin: 0 0 1em; }
  .content .main-content p a, .content .main-content li a {
    border-bottom: 1px dotted white; }
    .content .main-content p a:hover, .content .main-content li a:hover {
      border-bottom-color: #0c466d; }
  .content .main-content code {
    background: #f1f1f1;
    display: block;
    padding: .5em 1em;
    font-size: 15.2px;
    font-size: 0.95rem;
    line-height: 1.5em;
    color: #535353; }
  .content .main-content blockquote {
    padding: 0 0 0 1.5em;
    margin: 0 0 1em;
    border-left: 1px dotted #b2b2b2;
    color: #797979;
    font-style: italic; }
  .content .main-content img, .content .main-content figure {
    max-width: 100%; }
    .content .main-content img.border, .content .main-content figure.border {
      border: 1px solid #e6e6e6;
      padding: 5px;
      background: white; }
  .content .main-content figure {
    display: block;
    border: 1px solid #cccccc;
    padding: 5px;
    background: #f0f0f0;
    font-size: 12.8px;
    font-size: 0.8rem;
    text-align: center; }
    .content .main-content figure img {
      margin: 0 0 .2em 0; }
  .content .main-content ol, .content .main-content ul {
    margin-left: 1.3em;
    margin-bottom: 1em; }
  .content .main-content .dk_container ul {
    margin-left: 0;
    margin-bottom: 0; }
  .content .main-content hr {
    display: block;
    width: 100%;
    border: 0;
    height: 0;
    border-bottom: 1px solid #cccccc;
    margin: 2em 0; }
  .content .main-content small {
    font-size: 12.8px;
    font-size: 0.8rem;
    color: #797979; }
  .content .main-content .profile .bio {
    margin: 1em 0; }
    .content .main-content .profile .bio h2 {
      font-size: 24px;
      font-size: 1.5rem;
      margin-bottom: 0; }
    .content .main-content .profile .bio img {
      margin-left: 0; }
    .content .main-content .profile .bio em {
      display: block;
      font-size: 14.4px;
      font-size: 0.9rem;
      text-transform: uppercase;
      font-style: normal;
      color: #606060;
      margin: .7em 0;
      line-height: 1em; }
  .content .main-content .post-meta {
    color: #999999;
    font-size: 14.4px;
    font-size: 0.9rem;
    text-transform: uppercase;
    margin: 1em 0; }
    .content .main-content .post-meta span,
    .content .main-content .post-meta time {
      display: block;
      margin: 0;
      line-height: 1.6em; }
  .content .main-content .featured-entries {
    float: left;
    width: 100%; }
    .content .main-content .featured-entries summary {
      border-bottom: 1px dotted #b2b2b2;
      padding-bottom: 1em;
      margin-bottom: 2em; }
  .content .main-content .featured-entries h1.section-title,
  .content .main-content .more-entries h1.section-title {
    margin-bottom: .5em; }
  .content .main-content .featured-entries summary,
  .content .main-content .more-entries summary {
    width: 100%;
    display: block; }
    .content .main-content .featured-entries summary h1,
    .content .main-content .more-entries summary h1 {
      font-size: 28.8px;
      font-size: 1.8rem;
      display: block;
      width: 100%; }
  .content .main-content .entry-listing summary,
  .content .main-content .more-entries summary {
    padding-bottom: 1em;
    margin-bottom: 2em;
    border-bottom: 1px dotted #b2b2b2; }
    .content .main-content .entry-listing summary p,
    .content .main-content .more-entries summary p {
      margin-bottom: .5em; }
    .content .main-content .entry-listing summary .post-meta,
    .content .main-content .more-entries summary .post-meta {
      margin: 0 0 .5em; }
  .content .main-content .feature-link {
    margin: 2em 0;
    padding: 2em;
    background: #f2f2f2;
    border: 1px solid #cccccc; }
    .content .main-content .feature-link h1 {
      font-size: 32px;
      font-size: 2rem;
      line-height: 1em;
      margin-top: 0;
      margin-bottom: .5em; }
    .content .main-content .feature-link img {
      display: none;
      max-width: 30%;
      background: white;
      float: right; }
  .content .main-content .feature-link,
  .content .main-content .comments {
    margin-top: 2em; }
  .content .main-content .comments {
    clear: both; }
  .content .main-content nav.pagination {
    display: block;
    width: 100%;
    font-weight: 700;
    font-size: 14.4px;
    font-size: 0.9rem;
    text-transform: uppercase;
    position: relative;
    padding-bottom: 1em;
    height: 3em;
    margin-bottom: 2em;
    clear: both; }
    .content .main-content nav.pagination .prev, .content .main-content nav.pagination .next {
      position: absolute;
      display: block;
      top: 0; }
    .content .main-content nav.pagination .prev {
      left: 0; }
    .content .main-content nav.pagination .next {
      right: 0; }
    .content .main-content nav.pagination ol {
      list-style: none;
      margin: 0 auto;
      text-align: center; }
      .content .main-content nav.pagination ol li {
        display: inline-block;
        margin: 0 .5em; }
        .content .main-content nav.pagination ol li a.current {
          color: #999999; }
.content aside {
  border-top: 6px double #e6e6e6;
  padding-top: 2em; }
  .content aside h1, .content aside h2, .content aside h3, .content aside h4, .content aside h5, .content aside h6 {
    display: block;
    text-transform: uppercase;
    font-weight: 600; }
  .content aside h1 {
    font-size: 35.2px;
    font-size: 2.2rem;
    font-family: "BebasNeueRegular", Arial, sans-serif;
    color: #464646;
    font-weight: 100; }
  .content aside h2 {
    font-size: 17.6px;
    font-size: 1.1rem; }
  .content aside h3 {
    font-size: 16px;
    font-size: 1rem;
    font-weight: 700;
    text-transform: uppercase;
    color: #464646; }
  .content aside p, .content aside section {
    margin-bottom: 1em; }
  .content aside ol, .content aside ul {
    list-style: none;
    margin: .7em 0 2em;
    padding: .7em 0;
    border-top: 1px dotted #cccccc;
    border-bottom: 1px dotted #cccccc; }
    .content aside ol li, .content aside ul li {
      margin: .3em 0; }
      .content aside ol li a, .content aside ul li a {
        position: relative; }
        .content aside ol li a:hover, .content aside ul li a:hover {
          position: relative;
          left: .4em; }
        .content aside ol li a.on, .content aside ul li a.on {
          color: #797979; }
  .content aside address {
    font-weight: 100;
    font-style: normal; }
  .content aside .map_centerville {
    height: 200px;
    width: 100%;
    background: #f0f0f0; }
  .content aside .subscribe {
    margin-bottom: 3em; }
    .content aside .subscribe h1 {
      color: #318bd7; }
    .content aside .subscribe fieldset {
      border-bottom: 1px dotted #b2b2b2;
      padding-bottom: 1em;
      margin-bottom: 1em; }
    .content aside .subscribe button {
      font-size: 15.2px;
      font-size: 0.95rem;
      padding: .8em 1.2em;
      background: #318bd7; }
      .content aside .subscribe button:hover {
        background: #0c466d; }
    .content aside .subscribe .rss {
      font-weight: 700;
      text-transform: uppercase;
      font-size: 14.4px;
      font-size: 0.9rem; }
      .content aside .subscribe .rss a {
        display: inline-block;
        padding-right: 1.7em;
        background: transparent url(../img/rss-icon.png) no-repeat right center;
        color: #bd0f05; }
        .content aside .subscribe .rss a:hover {
          color: #32cfd9;
          background-image: url(../img/rss-icon-hover.png); }
  .content aside .shop {
    border-top: 0; }
    .content aside .shop summary img {
      width: auto;
      max-width: 100%; }
  .content aside summary h1 {
    font-size: 19.2px;
    font-size: 1.2rem;
    text-transform: none;
    font-family: "Open Sans", Arial, sans-serif; }

.work-with-us-band {
  clear: both;
  margin: 1em 0 0;
  padding: 1.1em 0;
  text-align: center;
  background: white url(../img/bkgd-main.png) repeat center top;
  -webkit-box-shadow: inset 0 0 8px #bfbfbf;
  -moz-box-shadow: inset 0 0 8px #bfbfbf;
  box-shadow: inset 0 0 8px #bfbfbf;
  color: #0c466d; }
  .work-with-us-band h1 {
    color: #0c466d;
    font-size: 24px;
    font-size: 1.5rem; }
  .work-with-us-band .button {
    margin: 2em 2em 0 2em;
    font-size: 12.8px;
    font-size: 0.8rem;
    padding: .8em 2em .9em;
    position: relative;
    top: -.5em;
    line-height: 1.1em; }

footer {
  clear: both;
  background: #252525;
  margin-bottom: 0;
  padding-top: 1em;
  float: left;
  width: 100%; }
  footer a:hover {
    border-bottom: none; }
  footer .company-info {
    color: #959595; }
    footer .company-info a.logo {
      border-bottom: none;
      margin: 1em 0; }
      footer .company-info a.logo:hover {
        border-bottom: none;
        color: inherit; }
        footer .company-info a.logo:hover h2 {
          color: inherit; }
    footer .company-info address,
    footer .company-info .phone,
    footer .company-info .email {
      font-style: normal;
      position: relative;
      margin-left: 3.6em;
      color: #959595;
      margin-bottom: 1.3em;
      line-height: 1.2em; }
      footer .company-info address a,
      footer .company-info .phone a,
      footer .company-info .email a {
        color: #959595; }
      footer .company-info address:before,
      footer .company-info .phone:before,
      footer .company-info .email:before {
        content: "A.";
        display: block;
        position: absolute;
        left: -1.5em;
        top: 0;
        color: #636363; }
    footer .company-info address {
      clear: both; }
    footer .company-info .phone:before {
      content: "P."; }
    footer .company-info .email:before {
      content: "E."; }
    footer .company-info .social-connections {
      display: block;
      padding-left: 2em;
      padding-top: 1em;
      margin-bottom: 2em; }
      footer .company-info .social-connections li {
        display: block;
        float: left;
        margin: 0 1em 0 0; }
        footer .company-info .social-connections li a {
          display: block;
          width: 25px;
          height: 25px;
          background: transparent url(../img/social-icons-sm.png) no-repeat left top;
          border-bottom: none;
          overflow: hidden;
          padding: 0;
          position: relative; }
          footer .company-info .social-connections li a:before {
            content: "";
            display: block;
            width: 25px;
            height: 25px;
            opacity: 0;
            background: transparent url(../img/social-icons-sm-color.png) no-repeat left top;
            border-bottom: none;
            text-indent: -9999em; }
          footer .company-info .social-connections li a:hover {
            border-bottom: none;
            background: none; }
            footer .company-info .social-connections li a:hover:before {
              opacity: 1;
              border-bottom: none; }
          footer .company-info .social-connections li a.twitter {
            margin-top: 0; }
          footer .company-info .social-connections li a.facebook {
            background-position: -32px top; }
            footer .company-info .social-connections li a.facebook:before {
              background-position: -32px top; }
          footer .company-info .social-connections li a.dribbble {
            background-position: -66px top; }
            footer .company-info .social-connections li a.dribbble:before {
              background-position: -66px top; }
          footer .company-info .social-connections li a.forrst {
            background-position: -100px top; }
            footer .company-info .social-connections li a.forrst:before {
              background-position: -100px top; }
          footer .company-info .social-connections li a.google {
            background-position: -132px top; }
            footer .company-info .social-connections li a.google:before {
              background-position: -132px top; }
          footer .company-info .social-connections li a.linkedin {
            background-position: -165px top; }
            footer .company-info .social-connections li a.linkedin:before {
              background-position: -165px top; }
  footer .company-info,
  footer .twitter,
  footer .sign-up,
  footer .apod {
    font-size: 15.2px;
    font-size: 0.95rem;
    margin-bottom: 2em;
    line-height: 1.6em;
    padding-bottom: 1em;
    border-bottom: 1px dotted #404040;
    width: 100%; }
    footer .company-info h3,
    footer .twitter h3,
    footer .sign-up h3,
    footer .apod h3 {
      font-size: 30.4px;
      font-size: 1.9rem;
      font-weight: 100;
      margin-bottom: .1em;
      font-family: "BebasNeueRegular", Arial, sans-serif; }
    footer .company-info p,
    footer .twitter p,
    footer .sign-up p,
    footer .apod p {
      color: white; }
    footer .company-info a,
    footer .company-info .more,
    footer .twitter a,
    footer .twitter .more,
    footer .sign-up a,
    footer .sign-up .more,
    footer .apod a,
    footer .apod .more {
      border-bottom: 1px dotted #252525; }
      footer .company-info a:hover,
      footer .company-info .more:hover,
      footer .twitter a:hover,
      footer .twitter .more:hover,
      footer .sign-up a:hover,
      footer .sign-up .more:hover,
      footer .apod a:hover,
      footer .apod .more:hover {
        color: white;
        border-bottom: 1px dotted white; }
  footer .twitter {
    color: white; }
    footer .twitter h3, footer .twitter a {
      color: #c2df20; }
    footer .twitter .date {
      color: #959595;
      display: block;
      margin: .2em 0 1em;
      padding-bottom: 1em;
      border-bottom: 1px dotted #404040; }
  footer .sign-up {
    width: 100%;
    display: block;
    padding-bottom: 1.5em;
    margin-bottom: 2em;
    border-bottom: 1px dotted #404040; }
    footer .sign-up p {
      margin-bottom: 1em; }
    footer .sign-up input {
      border: none;
      -webkit-border-radius: 3px;
      -moz-border-radius: 3px;
      border-radius: 3px;
      font-size: 14.4px;
      font-size: 0.9rem;
      padding: 1em 1.3em;
      width: 65%;
      height: 3em;
      float: left;
      margin-right: 2%;
      margin-bottom: .5em; }
      footer .sign-up input:focus {
        outline: none;
        border: none; }
    footer .sign-up button {
      font-size: 14.4px;
      font-size: 0.9rem;
      height: 3em;
      background: #318bd7;
      float: left;
      width: 29%;
      min-width: 7em; }
      footer .sign-up button:hover {
        background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#4697db), to(#277ec8));
        background-image: -webkit-linear-gradient(top, #4697db, #277ec8);
        background-color: #277ec8;
        background-image: -moz-linear-gradient(top, #4697db, #277ec8);
        background-image: -ms-linear-gradient(top, #4697db, #277ec8);
        background-image: -o-linear-gradient(top, #4697db, #277ec8);
        background-image: linear-gradient(top, #4697db, #277ec8);
        background-repeat: repeat-x; }
    footer .sign-up h3, footer .sign-up a {
      color: #318bd7; }
  footer .apod h3, footer .apod a {
    color: #825ea7; }
  footer .apod article {
    margin: 1em 0;
    padding-bottom: 1em;
    font-size: 16px;
    font-size: 1rem;
    border-bottom: 1px dotted #404040; }
  footer .sign-up,
  footer .apod {
    float: right; }
  footer .bottom-nav {
    display: block;
    width: 100%;
    clear: both;
    background: black;
    padding: 1.2em 0 1em;
    font-size: 14.4px;
    font-size: 0.9rem;
    color: white; }
    footer .bottom-nav small {
      display: block;
      text-align: left;
      font-style: normal; }
  footer nav.menu {
    margin-bottom: 2em; }
    footer nav.menu ul {
      list-style: none;
      padding: 0;
      margin: 0; }
      footer nav.menu ul li a {
        color: white; }
        footer nav.menu ul li a:hover {
          color: #bd0f05; }

.landing-page .teasers .recent-work,
.landing-page .teasers .introduction,
.content .recent-work,
.content .introduction {
  padding-bottom: 1em;
  border-bottom: none; }

.content .recent-work summary {
  padding: 2em 0 0;
  border-top: 1px dotted #cccccc;
  margin: 2em 0 0;
  clear: both; }

@media print {
  /* Print =================================================== */
  * {
    background: transparent !important;
    color: black !important;
    box-shadow: none !important;
    text-shadow: none !important;
    filter: none !important;
    -ms-filter: none !important; }

  @page {
    margin: 0.5cm; }

  h2, h3 {
    orphans: 3;
    widows: 3;
    page-break-after: avoid; }

  p {
    orphans: 3;
    widows: 3; }

  pre, blockquote {
    border: 1px solid gray;
    page-break-inside: avoid; }

  abbr[title]:after {
    content: " (" attr(title) ")"; }

  a, a:visited {
    text-decoration: underline; }

  a[href]:after {
    content: " (" attr(href) ")"; }

  a[href^="javascript:"]:after,
  a[href^="#"]:after {
    content: ""; }

  img {
    max-width: 100% !important;
    page-break-inside: avoid; }

  thead {
    display: table-header-group; }

  tr {
    page-break-inside: avoid; } }
@media only screen and (max-width: 480px) {
  /* 480 and under ========================================= */
  .content .main-content img, .content .main-content figure {
    float: none !important; } }
@media only screen and (min-width: 480px) {
  /* 480 =================================================== */
  .hero .slides_nav.prev, .hero .slides_nav.next {
    top: 50%;
    margin-top: -25px; }

  .main-content .profile .bio {
    float: left;
    width: 100%;
    margin-bottom: 1.5em; }
    .main-content .profile .bio img {
      max-width: 180px;
      float: left;
      margin-right: 1.5em;
      margin-left: 0; }

  .content aside {
    clear: both; }
  .content .main-content figure {
    margin-left: 1.5em;
    margin-bottom: 1em; }
  .content .main-content .feature-link img {
    display: inline-block;
    margin: 0 0 1em 1em; } }
@media only screen and (min-width: 600px) {
  /* 600 =================================================== */
  .mobile-only {
    display: none; }

  .more {
    display: inline-block; }

  header.main,
  header[role="main"] {
    background: white;
    padding: 1em 0;
    text-align: center; }
    header.main .main-nav,
    header[role="main"] .main-nav {
      display: block !important;
      padding-top: 1em;
      margin-top: 1em;
      border-top: 1px solid #cccccc; }
      header.main .main-nav ul,
      header[role="main"] .main-nav ul {
        float: none;
        width: 100%;
        text-align: center;
        padding-bottom: 0;
        margin-top: 0; }
        header.main .main-nav ul li,
        header[role="main"] .main-nav ul li {
          display: inline-block;
          width: auto;
          float: none;
          margin: 0 .5em; }
          header.main .main-nav ul li a,
          header[role="main"] .main-nav ul li a {
            display: block;
            background: transparent;
            padding: 0;
            border: none;
            -webkit-transition: 0.2s all;
            -moz-transition: 0.2s all;
            -ms-transition: 0.2s all;
            -o-transition: 0.2s all;
            transition: 0.2s all; }
            header.main .main-nav ul li a:hover,
            header[role="main"] .main-nav ul li a:hover {
              background: none;
              color: #0c466d; }

  .hero .slide h2 {
    font-size: 36.8px;
    font-size: 2.3rem; }

  summary .button, summary .more {
    margin-right: 2em; }
  summary .more {
    margin-top: .4em; }

  .teasers .mission-log {
    margin-bottom: 2em; }
  .teasers .services,
  .teasers .shop {
    width: 50%;
    float: left; }
  .teasers .services {
    padding-right: 5%;
    margin-bottom: 1em; }
    .teasers .services ul li {
      margin: .5em 0; }
  .teasers .shop {
    float: right;
    padding-left: 5%; }

  .content header h1 {
    font-size: 80px;
    font-size: 5rem;
    line-height: 1em; }
  .content header p {
    font-size: 16px;
    font-size: 1rem; }
  .content .main-content img {
    float: right;
    margin: 0 0 1em 1em; }
  .content .main-content .profile .bio img {
    margin-left: 0; }
  .content .main-content .post-meta span,
  .content .main-content .post-meta time {
    display: inline-block; }
    .content .main-content .post-meta span:after,
    .content .main-content .post-meta time:after {
      display: inline-block;
      content: "//";
      margin: 0 .5em; }
  .content .main-content .post-meta span:last-child:after {
    display: none; }
  .content .main-content .featured-entries {
    padding-bottom: 0;
    margin-bottom: 2em;
    border-bottom: 1px dotted #b2b2b2; }
    .content .main-content .featured-entries summary {
      width: 48%;
      float: left;
      border-bottom: 0;
      margin-bottom: 0; }
      .content .main-content .featured-entries summary a.button {
        margin-bottom: 1em; }
      .content .main-content .featured-entries summary:nth-child(2) {
        width: 100%;
        margin-bottom: 3em;
        border-bottom: 1px dotted #b2b2b2; }
        .content .main-content .featured-entries summary:nth-child(2) h1 {
          font-size: 40px;
          font-size: 2.5rem; }
      .content .main-content .featured-entries summary:nth-child(4) {
        float: right; }
  .content .recent-work .intro {
    padding: 0 10%; }

  .work-with-us-band .button {
    margin-top: 1.5em;
    font-size: 16px;
    font-size: 1rem; } }
@media only screen and (min-width: 768px) {
  /* 768 =================================================== */
  body {
    font-size: 19.2px;
    font-size: 1.2rem; }

  .hero .slide h2 {
    font-size: 51.2px;
    font-size: 3.2rem; }
  .hero .slide p {
    padding: 0 10%;
    font-size: 20.8px;
    font-size: 1.3rem;
    line-height: 1.5em; }
  .hero .slide img {
    width: 600px; }

  .content .main-content .post-meta {
    float: right;
    margin-top: .4em;
    margin-bottom: 1em; }
  .content .main-content .featured-entries summary {
    width: 48%;
    float: left; }
    .content .main-content .featured-entries summary .post-meta {
      float: left; }
    .content .main-content .featured-entries summary:nth-child(2) {
      width: 100%;
      margin-bottom: 2em; }
      .content .main-content .featured-entries summary:nth-child(2) .post-meta {
        float: right; }
  .content article.main-content .post-meta {
    float: none; }

  .work-with-us-band {
    padding: 3em 0; }
    .work-with-us-band h1 {
      font-size: 32px;
      font-size: 2rem;
      display: inline-block; }
    .work-with-us-band .button {
      margin-top: 1em;
      position: relative;
      top: -.3em; }

  footer.main .bottom-nav {
    float: left;
    width: 100%; }
    footer.main .bottom-nav nav.menu {
      float: left;
      margin-bottom: 0; }
    footer.main .bottom-nav small {
      float: right; }
  footer.main nav.menu ul {
    list-style: none;
    padding: 0;
    margin: 0; }
    footer.main nav.menu ul li {
      float: left;
      margin-right: 1em; }
      footer.main nav.menu ul li.home {
        display: none; }
      footer.main nav.menu ul li a {
        color: white; }
        footer.main nav.menu ul li a:hover {
          color: #bd0f05; } }
@media only screen and (min-width: 960px) {
  /* 960 =================================================== */
  .logo {
    float: left;
    text-align: left; }
    .logo:before {
      float: left;
      margin-right: .7em;
      display: block; }
    .logo h1 {
      display: block;
      margin-top: 6px;
      margin-bottom: 0;
      margin-left: 1.6em; }
    .logo h2 {
      display: block;
      margin-left: 4.7em;
      line-height: 1em;
      margin-top: 0;
      padding-top: 4px; }

  header.main,
  header[role="main"] {
    background: white;
    padding: 1em 0;
    text-align: left; }
    header.main .main-nav,
    header[role="main"] .main-nav {
      display: block !important;
      float: right;
      width: auto;
      margin-top: 0;
      padding-top: .4em;
      border-top: none; }
      header.main .main-nav ul,
      header[role="main"] .main-nav ul {
        float: right;
        width: auto;
        text-align: left; }
        header.main .main-nav ul li,
        header[role="main"] .main-nav ul li {
          float: left;
          margin: 0 1em; }
          header.main .main-nav ul li a,
          header[role="main"] .main-nav ul li a {
            font-size: 14.4px;
            font-size: 0.9rem; }

  .hero .slide img {
    max-width: 600px; }

  .teasers .recent-work summary,
  .content .recent-work summary {
    float: left;
    width: 100%;
    padding-left: 52%;
    text-align: left;
    clear: left;
    margin-bottom: 2em; }
    .teasers .recent-work summary h1,
    .content .recent-work summary h1 {
      padding-top: 5%;
      font-size: 40px;
      font-size: 2.5rem;
      width: auto; }
    .teasers .recent-work summary img,
    .content .recent-work summary img {
      max-width: 100%;
      margin-left: -108%;
      float: left; }
    .teasers .recent-work summary:nth-child(odd),
    .content .recent-work summary:nth-child(odd) {
      padding-right: 52%;
      padding-left: 0; }
      .teasers .recent-work summary:nth-child(odd) img,
      .content .recent-work summary:nth-child(odd) img {
        margin: 0 -108% 0 0;
        float: right; }

  .teasers {
    position: relative; }
    .teasers .mission-log {
      width: 50%;
      padding: 0 1%;
      float: left;
      margin-left: 25%; }
    .teasers .services, .teasers .shop {
      width: 25%;
      border-top: 0;
      padding-top: 0; }
    .teasers .services {
      margin-left: -75%;
      padding-right: 2.5%; }
    .teasers .shop {
      float: right;
      padding-left: 2.5%;
      margin-bottom: 1em; }

  .content header {
    margin-bottom: 2em; }
    .content header h1 {
      font-size: 96px;
      font-size: 6rem;
      margin-bottom: 0; }
    .content header p {
      font-size: 19.2px;
      font-size: 1.2rem; }
  .content .main-content {
    float: right;
    width: 73%;
    padding-left: 2.5%;
    margin-bottom: 2em; }
  .content aside {
    clear: none;
    border-top: 0;
    float: left;
    width: 25%;
    border-top: 0;
    padding-top: 0;
    padding-right: 2.5%;
    margin-bottom: 2em; }

  footer.main .company-info,
  footer.main .twitter,
  footer.main .sign-up,
  footer.main .apod {
    width: 30%;
    font-size: 15.2px;
    font-size: 0.95rem;
    margin-right: 4%;
    float: left; }
  footer.main .company-info, footer.main .apod {
    border-bottom: none; }
  footer.main .twitter, footer.main .sign-up {
    margin-top: .4em; }
  footer.main .twitter,
  footer.main .sign-up,
  footer.main .apod {
    width: 60%;
    float: right; }
  footer.main nav.menu ul li {
    margin-right: 1em;
    display: block; }
    footer.main nav.menu ul li.home {
      display: block; } }
@media only screen and (min-width: 1280px) {
  /* 1200 =================================================== */
  .content-width {
    max-width: 1200px; }

  header.main .main-nav ul li,
  header[role="main"] .main-nav ul li {
    margin: 0 1.2em; }
    header.main .main-nav ul li a,
    header[role="main"] .main-nav ul li a {
      font-size: 15.2px;
      font-size: 0.95rem; }

  .hero .slide {
    min-height: 26em; }
    .hero .slide .caption p {
      padding: 0 20%; }

  .teasers .recent-work summary h1 {
    padding-top: 10%; }

  footer.main .twitter,
  footer.main .sign-up,
  footer.main .apod {
    width: 28%;
    float: left; }
  footer.main .twitter {
    border-bottom: none; } }
@media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min--moz-device-pixel-ratio: 1.5), only screen and (min-device-pixel-ratio: 1.5) {
  .logo:before {
    background-image: url(../img/jrc-icon-2x.png);
    background-size: 41px 42px; }
  .logo h1 {
    background-image: url(../img/jrc-logo-text-2x.png);
    background-size: 228px 16px; }
  .logo.white h1 {
    background-image: url(../img/jrc-logo-text-white-2x.png);
    background-size: 228px 16px; }
  .logo.white:before {
    background-image: url(../img/jrc-icon-white-2x.png);
    background-size: 41px 42px; } }
/*! http://responsiveslides.com v1.32 by @viljamis */
.rslides {
  position: relative;
  list-style: none;
  overflow: hidden;
  width: 100%;
  padding: 0;
  margin: 0; }

.rslides li {
  position: absolute;
  display: none;
  width: 100%;
  left: 0;
  top: 0; }

.rslides li:first-child {
  position: relative;
  display: block;
  float: left; }

.rslides img {
  display: block;
  height: auto;
  float: left;
  width: 100%;
  border: 0; }
