{exp:channel:entries channel="contact_us" limit="1" orderby="date" sort="asc" disable="categories|category_fields|member_data|pagination"}

{embed="_includes/.doctype" entry_id="{entry_id}"}

<body class="clearfix contact">
<div class="wrapper">
  
{embed="_includes/.header"}
  
  <section class="content">
    <header>
      <div class="content-width">
        <h1>Contact Us</h1>
        <p>We'd love to hear from you!</p>
      </div>
    </header>
    
    <div class="content-width">
      <section class="main-content">
        <h1>{title}</h1>
        {contact_body}
        
        {if "{segment_2}" == "" OR "{segment_2}" == "contact-us"}
        
          {exp:freeform:form
            form_name="contact"
            return="contact-us/thank-you"
            required="fld1|fld2|fld3|fld6"
          }
            <fieldset>
              <label for="fld1">Name</label>
              <input type="text" id="fld1" name="fld1" placeholder="Name">
              
              <label for="fld2">Email</label>
              <input type="email" id="fld2" name="fld2" placeholder="Email Address">
              
              <label for="fld3">Phone</label>
              <input type="tel" id="fld3" name="fld3" placeholder="Phone Number">
                          
              <label for="fld6">Message</label>
              <textarea id="fld6" name="fld6" placeholder="What do you have to say?"></textarea>
              
              <label for="call_back" class="checkbox"><input type="checkbox" name="call_back" id="call_back"> I prefer to communicate by phone</label>
              
              <button type="submit">Transmit Message</button>
            </fieldset>
          {/exp:freeform:form}
        
        {if:elseif "{segment_2}" == "work-with-us"}
          
          {exp:freeform:form
            form_name="contact"
            return="contact-us/thank-you"
            required="fld1|fld2|fld3|fld6"
          }
            <fieldset>
              <label for="fld1">Name</label>
              <input type="text" id="fld1" name="fld1" placeholder="Name">
              
              <label for="fld2">Email</label>
              <input type="email" id="fld2" name="fld2" placeholder="Email Address">
              
              <label for="fld3">Phone</label>
              <input type="tel" id="fld3" name="fld3" placeholder="Phone Number">
              
              <label for="fld4">Project Budget</label>
              <select class="styled" id="fld4" name="fld4">
                <option selected="selected" value="">What's your budget?</option>
                <option value="Less than $1,000">Less than $1,000</option>
                <option value="$1,000-$3,000">$1,000-$3,000</option>
                <option value="$3,000-$5,000">$3,000-$5,000</option>
                <option value="$5,000-$10,000">$5,000-$10,000</option>
                <option value="Over $10,000">Over $10,000</option>
              </select>
              
              <label for="fld5">Project Type</label>
              <select class="styled" id="fld5" name="fld5">
                <option selected="selected" value="">What type of project?</option>
                <option value="Website & App Design">Website & App Design</option>
                <option value="Front-End Development">Front-End Development</option>
                <option value="Email">Email</option>
                <option value="Web Maintenance">Web Maintenance</option>
                <option value="Branding & Logo Design">Branding & Logo Design</option>
                <option value="Consulting">Consulting</option>
                <option value="Houston, we have a problem">"Houston, we have a problem."</option>
                <option value="Other or Multiple">Other or Multiple</option>
              </select>
              
              <label for="fld6">Project Details</label>
              <textarea id="fld6" name="fld6" placeholder="Please provide a brief overview of the project."></textarea>
              
              <input type="checkbox" name="call_back" id="call_back"> <label for="call_back">I prefer to communicate by phone</label>
              
              <button type="submit">We are 'Go' for Launch</button>
            </fieldset>
          {/exp:freeform:form}
          
        {/if}
        
      </section>
      
      {embed="contact-us/.sidebar"}
    </div>
  </section><!-- .content -->

{/exp:channel:entries}

  <section class="work-with-us-band">
    <h1>Interested in working with us? </h1> <a href="{path='contact-us/work-with-us'}" class="button alt">Contact Us Now</a>
  </section><!-- .work-with-us-band -->
  
</div>

{embed="_includes/.footer"}