    <header>
      <div class="content-width">
        <a href="{path='discover'}"><h1>Discover</h1></a>
        <p>Find out who Johnny Rocket Creative is, and what we’re all about.</p>
      </div>
    </header>