      <aside>
        <h1>Discover</h1>
        <nav>
          <ul>
            {exp:channel:entries channel="discover" orderby="date" sort="asc" disable="categories|category_fields|member_data|pagination" dynamic="off"}
            <li><a href="{title_permalink='discover'}"{if "{segment_2}" == "{url_title}"} class="on"{/if}>{title}</a></li>
            {/exp:channel:entries}
          </ul>
        </nav>
        <div class="shop preview">
  	      <h1>Shop</h1>
  	      <summary>
  		      <a href="http://skreened.com/spacetribute/space-shuttle-tribute-clean-black" target="_blank"><img src="/assets/img/shop-item-preview.jpg" alt="Space Shuttle Tribute Tee" class="border"></a>
  		      <h1><a href="http://skreened.com/spacetribute/space-shuttle-tribute-clean-black" target="_blank">Space Shuttle Tribute Tee</a></h1>
  		      <p>A tribute shirt to remember NASA's Space Shuttle Program.</p>
  		      <a href="http://skreened.com/spacetribute/space-shuttle-tribute-clean-black" target="_blank" class="more">Buy Now ></a>
  	      </summary>
  	      <a href="http://skreened.com/spacetribute" target="_blank" class="more">Shop for more goodies</a>
        </div><!-- .shop -->
      </aside>