{exp:channel:entries channel="discover" limit="1" orderby="date" sort="asc" disable="categories|category_fields|member_data|pagination"}

{embed="_includes/.doctype" entry_id="{entry_id}"}

<body class="clearfix contact">
<div class="wrapper">
  
{embed="_includes/.header"}
  
  <section class="content">
    {embed="discover/.header"}
    
    <div class="content-width">
      <section class="main-content">
      
      <h1>{title}</h1>
        {discover_body}
        
{/exp:channel:entries}  
        
        {if segment_2 == "" OR segment_2 == "who-we-are"}
        <section class="profile">
          <h1>Profile</h1>
          
          {exp:channel:entries channel="profiles" orderby="date" sort="asc" disable="categories|category_fields|member_data|pagination" dynamic="off"}
          <section class="bio">
            <img src="{bio_avatar}" class="border" alt="{title} is {position_title} at Johnny Rocket Creative">
            <h2>{title}</h2>
            <em>{position_title}</em>
            {employee_bio}
          </section>
          {/exp:channel:entries}
        </section>
        {/if}
      
      </section>
      
      {embed="discover/.sidebar"}

    </div>
  </section><!-- .content -->

  <section class="work-with-us-band">
    <h1>Interested in working with us? </h1> <a href="{path='contact-us/work-with-us'}" class="button alt">Contact Us Now</a>
  </section><!-- .work-with-us-band -->
  
</div>

{embed="_includes/.footer"}