{exp:channel:entries channel="landing_page" limit="1" disable="categories|category_fields|member_data|pagination"}

{embed="_includes/.doctype"}

<body class="clearfix home">
<div class="wrapper">
  
{embed="_includes/.header"}
{/exp:channel:entries}
  
  <section class="hero">
    <ul class="slider rslides" id="slider">
      {exp:channel:entries channel="slideshow_homepage" limit="5" orderby="random" disable="categories|category_fields|member_data|pagination"}
      <li class="slide">
        {if "{slideshow_link}" != ""}<a href="{slideshow_link}">{/if}<img src="{slideshow_image}" alt="{slideshow_headline}">{if "{slideshow_link}" != ""}</a>{/if}
        <div class="caption">
          <h2>{if "{slideshow_link}" != ""}<a href="{slideshow_link}">{/if}{slideshow_headline}{if "{slideshow_link}" != ""}</a>{/if}</h2>
          <p>{slideshow_paragraph}</p>
          {if "{slideshow_link}" != ""}<a href="{slideshow_link}" class="button alt">Learn More</a>{/if}
        </div>
      </li>
      {/exp:channel:entries}
    </ul><!-- .slider.rslides -->
  </section><!-- .hero -->

  <section class="teasers content-width">
    <section class="introduction double-line clearfix">
      {exp:channel:entries channel="landing_page" limit="1" disable="categories|category_fields|member_data|pagination"}
      <h1 class="section-title">{home_introduction_header}</h1>
      <p>{home_introduction_paragraph}</p>
      {/exp:channel:entries}
    </section><!-- .recent-work -->
    
    <section class="recent-work double-line clearfix">
      <h1 class="section-title">Recent Work</h1>
      {exp:channel:entries channel="recent_work" limit="1" orderby="random" disable="categories|category_fields|member_data|pagination"}
      <summary>
        <img src="{work_preview_image}" alt="{title}">
        <h1>{title}</h1>
        <p>{work_overview_paragraph}</p>
        
        {if "{currently_in_development}" == "yes"}
          <span class="button disabled">Currently In Development</span>{if "{work_live_project_link}" != ""} <a href="{work_live_project_link}" class="more" target="_blank">Sign Up for Information</a>{/if}
        {if:else}
          {if "{work_live_project_link}" != ""}<a href="{work_live_project_link}" class="button" target="_blank">View Project</a>{/if}
        {/if}
      </summary>
      {/exp:channel:entries}
    </section><!-- .recent-work -->
    
    <section class="mission-log">
      <h1 class="section-title">Mission log</h1>
      {exp:channel:entries channel="mission_log" category="13" limit="1" orderby="date" disable="category_fields|member_data|pagination"}
      <summary>
        <a href="{title_permalink='mission-log/article'}"><img src="{mission_log_preview_image}" alt="{title}" class="border"></a>
        <a href="{title_permalink='mission-log/article'}"><h1>{title}</h1></a>
        <p>{mission_log_summary}</p>
        <a href="{title_permalink='mission-log/article'}" class="button">Read This Entry</a> <a href="{path='mission-log'}" class="more">Read More Entries</a>
      </summary>
      {/exp:channel:entries}
    </section><!-- .mission-log -->
    
    <section class="services">
      <h1 class="section-title">Services</h1>
      <p>We do a lot. Here’s just a taste of what we love!</p>
      <ul>
        <li><a href="{path='discover/our-services'}">Front-End Development</a></li>
        <li><a href="{path='discover/our-services'}">Website & App Design</a></li>
        <li><a href="{path='discover/our-services'}">Branding</a></li>
        <li><a href="{path='discover/our-services'}">ExpressionEngine</a></li>
        <li><a href="{path='discover/our-services'}">HTML Email Coding</a></li>
        <li><a href="{path='discover/our-services'}">Web Maintenance</a></li>
        <li><a href="{path='discover/our-services'}">Print Design</a></li>
        <li><a href="{path='discover/our-services'}">Newsletters</a></li>
        <li><a href="{path='discover/our-services'}">Social Media</a></li>
        <li><a href="{path='discover/our-services'}">Mapping</a></li>
      </ul>
      <a href="{path='discover/our-services'}" class="more">and more...</a>
    </section><!-- .services -->
    
    <section class="shop">
      <h1 class="section-title">Shop</h1>
      <p>Design isn’t just our day job, it’s our passion. Check out some of the stuff we’ve made for fun!</p>
      
      <summary>
	      <a href="http://skreened.com/spacetribute/space-shuttle-tribute-clean-black" target="_blank"><img src="/assets/img/shop-item-preview.jpg" alt="Space Shuttle Tribute Tee" class="border"></a>
	      <h1><a href="http://skreened.com/spacetribute/space-shuttle-tribute-clean-black" target="_blank">Space Shuttle Tribute Tee</a></h1>
	      <p>A tribute shirt to remember NASA's Space Shuttle Program.</p>
	      <a href="http://skreened.com/spacetribute/space-shuttle-tribute-clean-black" target="_blank" class="more">Buy Now ></a>
      </summary>
      
      <a href="#" class="more">Shop for More Goodies</a>
    </section><!-- .shop -->



        
  </section><!-- .teasers -->

  <section class="work-with-us-band">
    <h1>Interested in working with us? </h1> <a href="{path='contact-us/work-with-us'}" class="button alt">Contact Us Now</a>
  </section><!-- .work-with-us-band -->
  
</div>

{embed="_includes/.footer"}