{exp:channel:entries channel="landing_page" limit="1" disable="categories|category_fields|member_data|pagination"}

{embed="_includes/.landing-page-doctype"}

<body class="clearfix home landing-page">
<div class="wrapper">
  
{embed="_includes/.landing-page-header"}
{/exp:channel:entries}
  
  <section class="hero">
    <ul class="slider rslides" id="slider">
      {exp:channel:entries channel="slideshow_homepage" limit="5" orderby="random" disable="categories|category_fields|member_data|pagination"}
      <li class="slide">
        {if "{slideshow_link}" != ""}<a href="{slideshow_link}">{/if}<img src="{slideshow_image}" alt="{slideshow_headline}">{if "{slideshow_link}" != ""}</a>{/if}
        <div class="caption">
          <h2>{if "{slideshow_link}" != ""}<a href="{slideshow_link}">{/if}{slideshow_headline}{if "{slideshow_link}" != ""}</a>{/if}</h2>
          <p>{slideshow_paragraph}</p>
          {if "{slideshow_link}" != ""}<a href="{slideshow_link}" class="button alt">Learn More</a>{/if}
        </div>
      </li>
      {/exp:channel:entries}
    </ul><!-- .slider.rslides -->
  </section><!-- .hero -->

  <section class="teasers content-width">
    <section class="introduction double-line clearfix">
      {exp:channel:entries channel="landing_page" limit="1" disable="categories|category_fields|member_data|pagination"}
      <h1 class="section-title">{home_introduction_header}</h1>
      <p>{home_introduction_paragraph}</p>
      {/exp:channel:entries}
    </section><!-- .recent-work -->
    
    <section class="recent-work double-line clearfix">
      <h1 class="section-title">Recent Work</h1>
      {exp:channel:entries channel="recent_work" limit="1" orderby="random" disable="categories|category_fields|member_data|pagination"}
      <summary>
        <img src="{work_preview_image}" alt="{title}">
        <h1>{title}</h1>
        <p>{work_overview_paragraph}</p>
        
        {if "{currently_in_development}" == "yes"}
          <span class="button disabled">Currently In Development</span>{if "{work_live_project_link}" != ""} <a href="{work_live_project_link}" class="more" target="_blank">Sign Up for Information</a>{/if}
        {if:else}
          {if "{work_live_project_link}" != ""}<a href="{work_live_project_link}" class="button" target="_blank">View Project</a>{/if}
        {/if}
      </summary>
      {/exp:channel:entries}
    </section><!-- .recent-work -->
        
  </section><!-- .teasers -->

  <section class="work-with-us-band">
    <h1>Interested in working with us? </h1> <a href="mailto:johnnyrocketcreative@gmail.com" class="button alt">Contact Us Now</a>
  </section><!-- .work-with-us-band -->
  
</div>

{embed="_includes/.landing-page-footer"}