{exp:channel:entries channel="mission_log" limit="1" orderby="date" sort="asc" disable="categories|category_fields|member_data|pagination"}

{embed="_includes/.doctype" entry_id="{entry_id}"}

<body class="clearfix contact">
<div class="wrapper">
  
{embed="_includes/.header"}
  
  <section class="content">
    {embed="mission-log/.header"}
    
    <div class="content-width">
      <article class="main-content">
      
        <h1>{title}</h1>
        
        <div class="post-meta">
          <time>Earth Date: {entry_date format="%d %M %Y"}</time>
          <span>Author: <a href="/discover" rel="author">Jon Daiello</a></span>
        </div>
        
        <div class="sharing">
          <!-- put sharing here -->
        </div>
        
        {mission_log_article}
        
        {embed="mission-log/.ad-space"}
        
        <section class="comments">
          <h1 class="section-title">Comments</h1>
          {exp:cx_disqus:comments entry_id="{entry_id}" title="Share Your Thoughts”}
        </section>
        
      </article>
{/exp:channel:entries}
      
      {embed="mission-log/.sidebar"}

    </div>
  </section><!-- .content -->

  <section class="work-with-us-band">
    <h1>Interested in working with us? </h1> <a href="{path='contact-us/work-with-us'}" class="button alt">Contact Us Now</a>
  </section><!-- .work-with-us-band -->
  
</div>

{embed="_includes/.footer"}