      <aside>
        <h1>Topics</h1>
        <p class="intro">Here are some of the topics we love learning about and sharing.</p>
        <nav>
          {if "{segment_2}" == "category"}<a href="{path='mission-log'}">All Mission Log Entries</a>{/if}
          {exp:channel:categories channel="mission_log" show="not 13" show_empty="no"}
          <a href="{path='mission-log'}">{category_name}</a>
          {/exp:channel:categories}
        </nav>
        <section class="subscribe">
          <h1>Subscribe</h1>
          <p>Signup for updates, new projects, special offers and new blog articles.</p>
          <form action="http://johnnyrocketcreative.us1.list-manage.com/subscribe/post?u=fe1bd70bcef24ee5cccce9100&amp;id=6533339dd6" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
            <fieldset>
              <input type="text" name="EMAIL" id="mce-EMAIL" placeholder="Email Address">
              <button type="submit">Sign up Now</button>
            </fieldset>
          </form>
          <div class="rss">
            Or <a href="{path='mission-log/rss'}">Subscribe Via RSS</a>
          </div>
        </section>
        <div class="shop preview">
  	      <h1>Shop</h1>
  	      <summary>
  		      <a href="http://skreened.com/spacetribute/space-shuttle-tribute-clean-black" target="_blank"><img src="/assets/img/shop-item-preview.jpg" alt="Space Shuttle Tribute Tee" class="border"></a>
  		      <h1><a href="http://skreened.com/spacetribute/space-shuttle-tribute-clean-black" target="_blank">Space Shuttle Tribute Tee</a></h1>
  		      <p>A tribute shirt to remember NASA's Space Shuttle Program.</p>
  		      <a href="http://skreened.com/spacetribute/space-shuttle-tribute-clean-black" target="_blank" class="more">Buy Now ></a>
  	      </summary>
  	      <a href="http://skreened.com/spacetribute" target="_blank" class="more">Shop for more goodies</a>
        </div><!-- .shop -->
      </aside>
