    <header>
      <div class="content-width">
        <a href="{path='mission-log'}"><h1>Mission Log</h1></a>
        <p>We love talking about interactive design and development.</p>
      </div>
    </header>