        <section class="feature-link">
          <a href="http://www.asmallorange.com/?a_aid=JRC" target="_blank"><img src="/assets/img/aso-logo.png" alt="ASmallOrange Web Hosting" class="border left"></a>
          <a href="http://www.asmallorange.com/?a_aid=JRC" target="_blank"><h1 class="section-title">Thanks To Our Host</h1></a>
          <p>We have had a great experience with A Small Orange, and that's why we're recommending them to you. They're around when you need them, but out of your way when you don't. Check them out, and give them a try.</p>
          <a class="button" href="http://www.asmallorange.com/?a_aid=JRC" target="_blank">Learn More</a>
          </a>
        </section>