{exp:channel:entries channel="recent_work_intro_seo" limit="1" orderby="date" sort="asc" disable="categories|category_fields|member_data|pagination"}

{embed="_includes/.doctype" entry_id="{entry_id}"}

<body class="clearfix contact">
<div class="wrapper">
  
{embed="_includes/.header"}
  
  <section class="content">
    <header>
      <div class="content-width">
        <h1>Recent Projects</h1>
        <p>This is just a sample from some of the things we do.</p>
      </div>
    </header>

    
    <div class="content-width recent-work">
      {intro_paragraph}
{/exp:channel:entries}
      
      {exp:channel:entries channel="recent_work" limit="5" orderby="date" sort="desc" disable="category_fields|member_data|pagination"}
      
      <summary>
        <img src="{work_preview_image}" alt="{title}">
        <h1>{title}</h1>
        {if "{categories limit="1"}{category_name}{/categories}"}
        <ul class="categories">
          {categories limit="3"}
          <li>{category_name}</li>
          {/categories}
        </ul>
        {/if}
        <p>{work_overview_paragraph}</p>
        
        {if "{currently_in_development}" == "yes"}
          <span class="button disabled">Currently In Development</span>{if "{work_live_project_link}" != ""} <a href="{work_live_project_link}" class="more" target="_blank">Sign Up for Information</a>{/if}
        {if:else}
          {if "{work_live_project_link}" != ""}<a href="{work_live_project_link}" class="button" target="_blank">View Project</a>{/if}
        {/if}
      </summary>
      {/exp:channel:entries}

    </div>
  </section><!-- .content -->

  <section class="work-with-us-band">
    <h1>Like what you're seeing? </h1> <a href="{path='contact-us/work-with-us'}" class="button alt">Contact Us Now</a>
  </section><!-- .work-with-us-band -->
  
</div>

{embed="_includes/.footer"}